# ~/.config/systemd/user/qompass-secret.service
# --------------------------------------------------
# Copyright (C) 2025 Qompass AI, All rights reserved

[Unit]
Description=Qompass Secret Service
After=graphical-session.target dbus.service

[Service]
ExecStart=%h/.local/bin/qompass-secret-service
Environment=PASSWORD_STORE_DIR=%h/.password-store
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
NoNewPrivileges=true
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
CapabilityBoundingSet=
DevicePolicy=closed
LockPersonality=true
MemoryDenyWriteExecute=true

Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus

Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target

