[Unit]
Description=Qompass AI "School"- Distributed compilation over SSH %i
After=network.target

[Service]
ExecStart=/usr/bin/ssh -NT \
  -o ExitOnForwardFailure=yes \
  -o ServerAliveInterval=60 \
  -o ServerAliveCountMax=3 \
  -p 2342 \
  -L %i:%I:2342
  phaedrus@%I

Restart=always
RestartSec=5

[Install]
WantedBy=default.target
