[Unit]
Description=User-mode swTPM emulator (rootless)
After=default.target

[Service]
ExecStart=/usr/bin/swtpm socket \
  --tpm2 \
  --ctrl type=unixio,path=%t/swtpm/swtpm.ctrl \
  --server type=unixio,path=%t/swtpm/swtpm-sock \
  --flags startup-clear \
  --tpmstate dir=%t/swtpm/state \
  --log file=%t/swtpm/swtpm.log
Type=simple
Restart=on-failure
RuntimeDirectory=swtpm
RuntimeDirectoryMode=0700

[Install]
WantedBy=default.target
