# /qompassai/dotfiles/.config/weasis/lib/weasis-Dicomizer.desktop
# Qompass AI Weasis Dicomizer Desktop Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################################
[Desktop Entry]
Version=1.0
Name=Dicomizer
Comment=Build DICOM files from images
Exec=/opt/weasis/bin/Dicomizer
Icon=/opt/weasis/lib/Dicomizer.png
Terminal=false
Type=Application
Categories=Viewer;MedicalSoftware;Graphics;
