# /qompassai/dotfiles/.config/caddy/conf.d/qaiCaddyfile
# Qompass AI Caddy Conf.d Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
{env.QAI} {
    reverse_proxy {env.RPPORT}
    tls {
        dns cloudflare {env.CFT}
    }
}
{env.QAI2} {
    reverse_proxy {env.RPPORT2}
    tls {
        dns cloudflare {env.CFT2}
    }
}
