# /qompassai/dotfiles/.config/nim/rename.rules.tex.cfg
# Qompass AI NimDoc Rename Rules Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
TSignedInt
TUnsignedInt
TOrdinal
TReal
TNumber
TEnum
TObject
TResult
TOpenArray
