# /qompassai/dotfiles/.config/mailman/mailman.cfg
# Qompass AI Mailman Config
# Copyright (C) 2026 Qompass AI, All rights reserved
####################################################
[mailman]
layout: fhs
