# /qompassai/dotfiles/.config/mailman/mailman-hyperkitty.cfg
# Qompass AI Mailman HyperKitty Config
# Copyright (C) 2026 Qompass AI, All rights reserved
########################################################
# [archiver.hyperkitty]
 class: mailman_hyperkitty.Archiver
 enable: yes
# configuration: $XDG_CONFIG_HOME/mailman/mailman-hyperkitty.cfg
[general]
# (e.g. https://lists.example.com/hyperkitty).
base_url: http://localhost/hyperkitty/
api_key: SecretArchiverAPIKey
