# /qompassai/dotfiles/.config/mailman/mailman-public-inbox.cfg
# Qompass AI Mailman Public Inbox Config
# Copyright (C) 2026 Qompass AI, All rights reserved
########################################################
[general]
base_url: http://$hostname/
pi_config: /var/lib/publicinbox/.public-inbox/config
pi_home: /var/lib/publicinbox/
pi_path: /usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl
