# /qompassai/dotfiles/.config/cowrie/cowrie.cfg
# Qompass AI Cowrie Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
[honeypot]
auth_class = UserDB
auth_class = AuthRandom
auth_class_parameters = 2, 5, 10
authentication_timeout = 120
backend = shell
contents_path = honeyfs
download_limit_size = 10485760
download_path = ${honeypot:state_path}/downloads
fake_addr = 192.168.66.254
etc_path = etc
hostname = svr04
interactive_timeout = 180
internet_facing_ip = 9.9.9.9
log_path = var/log/cowrie
 prompt = hello>
out_addr = 0.0.0.0
sensor_name=
share_path = share/cowrie
state_path = var/lib/cowrie
txtcmds_path = txtcmds
ttylog = true
ttylog_path = ${honeypot:state_path}/tty
timezone = UTC
[backend_pool]
config_files_path = ${honeypot:share_path}/pool_configs

recycle_period = 1500
listen_endpoints = tcp:6415:interface=127.0.0.1
save_snapshots = false
snapshot_path = ${honeypot:state_path}/snapshots
guest_config = default_guest.xml
guest_privkey = ${honeypot:state_path}/ubuntu18.04-guest
guest_ssh_port = 22
guest_tag = ubuntu18.04
guest_telnet_port = 23
guest_image_path = /home/cowrie/cowrie-imgs/ubuntu18.04-minimal.qcow2
guest_hypervisor = kvm
guest_memory = 512
guest_qemu_machine = pc-q35-bionic
guest_config = wrt_arm_guest.xml
guest_tag = wrt
guest_ssh_port = 22
guest_telnet_port = 23
guest_image_path = /home/cowrie/cowrie-imgs/root.qcow2
guest_hypervisor = qemu
guest_memory = 256
guest_kernel_image = /home/cowrie/cowrie-imgs/zImage
guest_qemu_machine = virt-2.9
nat_public_ip = 192.168.1.40
network_config = default_network.xml
nw_filter_config = default_filter.xml
use_nat = true
[proxy]
backend = pool
backend_pass = root
backend_user = root
backend_ssh_host = localhost
backend_ssh_port = 2022
backend_telnet_host = localhost
backend_telnet_port = 2023
log_raw = false
pool = local
pool_host = 192.168.1.40
pool_max_vms = 5
pool_only = false
pool_port = 6415
pool_share_guests = true
pool_vm_unused_timeout = 600
telnet_password_prompt_regex = .*Password: .*
telnet_spoof_authentication = true
telnet_username_prompt_regex = (\n|^)ubuntu login: .*
telnet_username_in_negotiation_regex = (.*\xff\xfa.*USER\x01)(.*?)(\xff.*)
[shell]
filesystem = ${honeypot:share_path}/fs.pickle
processes = share/cowrie/cmdoutput.json
arch = linux-x64-lsb
kernel_version = 3.2.0-4-amd64
kernel_build_string = #1 SMP Debian 3.2.68-1+deb7u1
hardware_platform = x86_64
operating_system = GNU/Linux
ssh_version = OpenSSH_7.9p1, OpenSSL 1.1.1a  20 Nov 2018
[ssh]
auth_none_enabled = false
auth_keyboard_interactive_enabled = false
ciphers = aes128-ctr,aes192-ctr,aes256-ctr,aes256-cbc,aes192-cbc,aes128-cbc,3des-cbc,blowfish-cbc,cast128-cbc
compression = zlib@openssh.com,zlib,none
dsa_public_key = ${honeypot:state_path}/ssh_host_dsa_key.pub
dsa_private_key = ${honeypot:state_path}/ssh_host_dsa_key
ed25519_public_key = ${honeypot:state_path}/ssh_host_ed25519_key.pub
ed25519_private_key = ${honeypot:state_path}/ssh_host_ed25519_key
ecdsa_public_key = ${honeypot:state_path}/ssh_host_ecdsa_key.pub
ecdsa_private_key = ${honeypot:state_path}/ssh_host_ecdsa_key
enabled = true
forwarding = true
forward_redirect = false
forward_redirect_25 = 127.0.0.1:12525
forward_redirect_80 = 127.0.0.1:8000
forward_redirect_443 = 127.0.0.1:8443
forward_redirect_587 = 127.0.0.1:12525
forward_tunnel = false
forward_tunnel_80 = 127.0.0.1:3128
forward_tunnel_443 = 127.0.0.1:3128
listen_endpoints = systemd:domain=INET:index=0
listen_endpoints = systemd:domain=INET6:index=0
macs = hmac-sha2-512,hmac-sha2-384,hmac-sha2-56,hmac-sha1,hmac-md5
public_key_auth = ssh-rsa,ecdsa-sha2-nistp256,ssh-ed25519
python mailoney.py -s yahoo.com -t schizo_open_relay -p 12525
rsa_public_key = ${honeypot:state_path}/ssh_host_rsa_key.pub
rsa_private_key = ${honeypot:state_path}/ssh_host_rsa_key
sftp_enabled = true
version = SSH-2.0-OpenSSH_6.0p1 Debian-4+deb7u2

[telnet]
enabled = false
listen_endpoints = systemd:domain=INET6:index=1
reported_port = 23
[database_xmpp]
debug=true
muc = dionaea.sensors.carnivore.it
password = "$(pass show cowrie/xmppdbp)"
server = sensors.carnivore.it
signal_command = cowrie-events
signal_createsession = cowrie-events
signal_connectionlost = cowrie-events
signal_loginfailed = cowrie-events
signal_loginsucceeded = cowrie-events
signal_clientversion = cowrie-events
user = anonymous@sensors.carnivore.it
[output_xmpp]
enabled=false
muc = hacker_room
server = conference.cowrie.local
user = cowrie@cowrie.local
password = "$(pass show cowrie/xmpp/p)"
[output_jsonlog]
enabled = true
epoch_timestamp = true
logfile = ${honeypot:log_path}/cowrie.json
[output_elasticsearch]
ca_certs = /cowrie/cowrie-git/etc/elastic_ca.crt
enabled = false
host = localhost
index = cowrie
port = 9200
pipeline = geoip
username = "$(pass show cowrie/esu)"
password ="$(pass show cowrie/esp)"
ssl = true
verify_certs = true
[output_dshield]
auth_key = "$(pass show dshield/ak)"
batch_size = 100
enabled = false
userid = "$(pass show dshield/u)"
[output_graylog]
enabled = true
url = http://graylog.example.com:122011/gelf
[output_localsyslog]
enabled = true
facility = USER
format = text
[output_textlog]
enabled = true
format = text
logfile = ${honeypot:log_path}/audit.log
[output_mysql]
database = cowrie
debug = false
enabled = true
host = localhost
password = "$(pass show cowrie/mysql/p)"
port = 3306
username = "$(pass show cowrie/mysql/u)"
[output_rethinkdblog]
db = cowrie
enabled = false
host = 127.0.0.1
password =
port = 28015
table = output
[output_sqlite]
db_file = cowrie.db
enabled = false
[output_mongodb]
enabled = false
connection_string = mongodb://username:password@host:port/database
database = dbname
[output_splunk]
enabled = true
index = cowrie
source = cowrie
sourcetype = cowrie
url = https://localhost:8088/services/collector/event
token = "$(pass show splunk/token)"
[output_hpfeeds3]
debug=false
enabled = false
identifier = abc123
server = hpfeeds.mysite.org
port = 10000
secret = secret
[output_virustotal]
api_key = "$(pass show virustotal/api)"
debug = False
enabled = false
scan_file = True
scan_url = False
upload = True
[output_cuckoo]
enabled = false
url_base = http://127.0.0.1:8090
user = user
passwd = passwd
force = 0
[output_malshare]
api_key = 130928309823098
enabled = false
[output_slack]
enabled = false
channel = channel_that_events_should_be_posted_in
token = slack_token_for_your_bot
debug = false
# https://csirtg.io
[output_csirtg]
enabled = false
username = wes
feed = scanners
description = random scanning activity
token = a1b2c3d4
debug = false
[output_socketlog]
enabled = false
address = 127.0.0.1:9000
timeout = 5
[output_s3]
access_key_id =
bucket = "$(pass show cowrie/bucket)"
enabled = false
region = eu-west-1
secret_access_key =
verify = no
[output_influx]
database_name = cowrie
enabled = false
host = 127.0.0.1
port = 8086
retention_policy_duration = 12w
[output_kafka]
enabled = false
host = 127.0.0.1
port = 9092
topic = cowrie
[output_redis]
db = 0
enabled = false
host = 127.0.0.1
keyname = "$(pass show cowrie/redis/k)"
password = "$(pass show cowrie/redis/p)"
port = 6379
send_method = lpush
[output_reversedns]
enabled = false
timeout = 3
[output_greynoise]
api_key = "$(pass show cowrie/apik)"
debug = true
enabled = false
tags = all
[output_misp]
api_key = "$(pass show cowrie/sk)"
base_url = 
debug = false
enabled = false
publish_event = true
verify_cert = true
[output_telegram]
bot_token = "$(pass show cowrie/bt)"
enabled = false
chat_id =
[output_crashreporter]
debug = false
enabled = false
[output_abuseipdb]
#api_key =
dump_path = ${honeypot:state_path}/abuseipdb
enabled = false
rereport_after = 24
tolerance_window = 120
tolerance_attempts = 10
[output_threatjammer]
api_url=https://dublin.report.threatjammer.com/v1/ip
bearer_token = THREATJAMMER_API_TOKEN
category = ABUSE
enabled = false
tags = COWRIE,LOGIN,SESSION
track_login = true
track_session = false
ttl = 86400
[output_discord]
enabled = false
url = https://discord.com/api/webhooks/id/token
[output_datadog]
api_key = "$(pass show cowrie/ddk)"
ddsource = cowrie
ddtags = env:dev
enabled = false
service = honeypot
url = https://http-intake.logs.datadoghq.com/api/v2/logs
