# /qompassai/dotfiles/.config/wireshark/extcap.cfg
# Qompass AI WireShark External Capabilities Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
#extcap.ciscodump.remotehost: 
extcap.ciscodump.remoteport: 22
extcap.ciscodump.remoteusername: $USER
#extcap.ciscodump.remotepassword: 
#extcap.ciscodump.sshkey: 
#extcap.ciscodump.proxycommand: 
#extcap.ciscodump.sshsha1: 
#extcap.ciscodump.remoteinterface: 
extcap.ciscodump.remotefilter: deny tcp host fd00:db8::1 any eq 22, deny tcp any eq 22 host fd00:db8::1, deny tcp host 172.17.0.1 any eq 22, deny tcp any eq 22 host 172.17.0.1, deny tcp host 10.66.66.1 any eq 22, deny tcp any eq 22 host 10.66.66.1, permit ip any any
#extcap.ciscodump.remotecount: 
#extcap.ciscodump.loglevel: 
#extcap.ciscodump.logfile: 
#extcap.dpauxmon.interface_id: 0
#extcap.dpauxmon.loglevel: 
#extcap.dpauxmon.logfile: 
extcap.gui_save_on_start: TRUE
#extcap.randpkt.maxbytes: 5000
#extcap.randpkt.count: 1000
#extcap.randpkt.delay: 0
#extcap.randpkt.randomtype: true
#extcap.randpkt.allrandom: true
#extcap.randpkt.type: 
#extcap.randpkt.loglevel: 
#extcap.randpkt.logfile: 
#extcap.sdjournal.startfrom: 
#extcap.sdjournal.loglevel: 
#extcap.sdjournal.logfile: 
#extcap.sshdump.logfile:
#extcap.sshdump.loglevel:
#extcap.sshdump.remotehost: 
#extcap.sshdump.remoteport: 22
#extcap.sshdump.remoteusername: 
#extcap.sshdump.remotepassword: 
#extcap.sshdump.sshkey: 
#extcap.sshdump.sshkeypassphrase: 
#extcap.sshdump.proxycommand: 
#extcap.sshdump.sshsha1: 
#extcap.sshdump.remoteinterface: 
#extcap.sshdump.remotecapturecommandselect: 
#extcap.sshdump.remotecapturecommand: 
#extcap.sshdump.remotepriv: 
#extcap.sshdump.remoteprivuser: 
#extcap.sshdump.remotenoprom: 
#extcap.sshdump.remotefilter: not ((host fd00:db8::1 or host 172.17.0.1 or host 10.66.66.1) and port 22)
#extcap.sshdump.remotecount: 0
#extcap.udpdump.port: 5555
#extcap.udpdump.payload: data
#extcap.udpdump.loglevel: 
#extcap.udpdump.logfile: 
#extcap.wifidump.remotehost: 
#extcap.wifidump.remoteport: 
#extcap.wifidump.remoteusername: 
#extcap.wifidump.remotepassword: 
#extcap.wifidump.sshkey: 
#extcap.wifidump.sshkeypassphrase: 
#extcap.wifidump.sshsha1: 
#extcap.wifidump.remoteinterface: auto
#extcap.wifidump.remotechannelfrequency: 
#extcap.wifidump.remotechannelwidth: 
#extcap.wifidump.remotefilter: 
#extcap.wifidump.remotecount: 
#extcap.wifidump.loglevel: 
#extcap.wifidump.logfile: 
