# /qompassai/dotfiles/.config/appimagelauncher/appimagelauncher.cfg
# Qompass AI AppImage Launcher Config
# Copyright (C) 2025 Qompass AI, All rights reserved
############################################################
[AppImageLauncher]
ask_to_move=true
destination=~/.appimages
enable_daemon=true
[appimagelauncherd]
additional_directories_to_watch=~/
monitor_mounted_filesystems=true
