# /qompassai/dotfiles/.config/nx/server/localhost/player.cfg
# Qompass AI NX Server LocalHost Player Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
PlayerRoot = "/usr/NX"
