# /qompassai/dotfiles/.config/nx/server/localhost/server.cfg
# Qompass AI NX Server LocalHost Server Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
ServerRoot = "/usr/NX"
NXUserHome = "/var/NX/nx/.nx"
