# /qompassai/dotfiles/.config/ninjam/ninjam.conf
# Qompass AI Ninjam Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#####################################################
# References: # https://www.cockos.com/ninjam/server-guide.php
ACL 0.0.0.0/0 allow
ACL 10.0.0.0/8 deny
ACL 192.168.0.0/16 reserve
AnonymousUsers no
AnonymousUsersCanChat yes
AnonymousMaskIP yes
AllowHiddenUsers no
DefaultBPI 8
DefaultBPM 120
DefaultTopic "Welcome to NINJAM. Please play nicely."
LogFile ninjamserver.log
MaxChannels 32 2
MaxUsers 10
PIDFile ninjamserver.pid
Port 2049
ServerLicense /usr/share/ninjam-server/cclicense.txt
SessionArchive . 15
SetKeepAlive 3
SetVotingThreshold 50
SetVotingVoteTimeout 60
User administrator myadminpass *
User $NINJAM $NINJAMPASS CBTKRM
User $USER $PASS
