[{
		"issuer":	"#",
		"accounts":	["/qompassai/dotfiles/.config/oidc-agent/issuer.config", "Qompass AI OIDC-Agent Issuer Config", "Copyright (C) 2025 Qompass AI, All rights reserved"],
		"default_account":	"/qompassai/dotfiles/.config/oidc-agent/issuer.config"
	}, {
		"issuer":	"####################################################",
		"accounts":	[]
	}]