// /qompassai/dotfiles/.config/polkit-1/rules.d/10-udisks2.rules
// Qompass AI Polkit Udisk2 Rules Config
// Copyright (C) 2025 Qompass AI, All rights reserved
////////////////////////////////////////////////////////////////////////
polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.udisks2.") == 0 && subject.isInGroup("storage")) {
        return polkit.Result.YES;
    }
});
