// /qompassai/dotfiles/.config/polkit-1/rules.d/40-nmcli-wheel.rules
// Qompass AI Polkit NetworkManager CLI Wheel Rules Config
// Copyright (C) 2025 Qompass AI, All rights reserved
////////////////////////////////////////////////////////////////
polkit.addRule(function(action, subject) {
  const okUser = subject.isInGroup("wheel") && subject.isLocal() && subject.active;
  if (!okUser) return;

  const allowYes = new Set([
    "org.freedesktop.NetworkManager.sleep-wake",
  ]);

  const allowAuth = new Set([
    "org.freedesktop.NetworkManager.checkpoint-rollback",
    "org.freedesktop.NetworkManager.reload",
    "org.freedesktop.NetworkManager.settings.modify.global-dns",
    "org.freedesktop.NetworkManager.settings.modify.hostname",
  ]);

  if (allowYes.has(action.id)) {
    return polkit.Result.YES;
  }
  if (allowAuth.has(action.id)) {
    return polkit.Result.AUTH_ADMIN_KEEP;
  }
});

