# /qompassai/dotfiles/.config/letsencrypt/inwx.cfg
# Qompass AI LetsEncrypt INWX Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
dns_inwx_url           = https://api.domrobot.com/xmlrpc/
dns_inwx_username      = "$(pass show inwx/u)"
dns_inwx_password      = "$(pass show inwx/p)"
dns_inwx_shared_secret = "$(pass show inwx/ss)"
