# /qompassai/dotfiles/.config/vbox/vbox.conf
# Qompass AI VirtualBox Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
INSTALL_DIR=/usr/lib/virtualbox
