# /qompassai/dotfiles/.config/vdpau_wrapper/vdpau_wrapper.cfg
# Qompass AI VDPAU Wrapper Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
disable_flash_pq_bg_color=1
enable_flash_uv_swap=1
