# /qompassai/dotfiles/.config/nrpe/nrpe.cfg
# Qompass AI Knot Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
# References: https://assets.nagios.com/downloads/nagioscore/docs/nrpe/NRPE.pdf | https://git.qubiz.com/solaforce/nagios-setup-scripts/-/blob/master/nrpe.cfg | https://linuxconfig.org/how-to-setup-nrpe-for-client-side-monitoring
allow_bash_command_substitution=1
allow_weak_random_seed=0
allowed_hosts=127.0.0.1,::1
command_prefix=/usr/bin/sudo
command_timeout=60
connection_timeout=300
debug=1
disable_syslog=0
dont_blame_nrpe=0
include_dir=<someotherdirectory>
include_dir=<somedirectory>
#include=<somefile.cfg>
keep_env_vars=NRPE_MULTILINESUPPORT,NRPE_PROGRAMVERSION
listen_queue_size=5
log_facility=daemon
log_file=/usr/var/nrpe.log
max_commands=0
nagios          ALL=(ALL) NOPASSWD: /usr/lib/nagios/plugins/
nrpe_group=nrpe
nrpe_user=nrpe
pid_file=/run/nrpe/nrpe.pid
server_address=127.0.0.1
server_port=5666
allow_performance_data=1
max_allowed_packet=1048576
ssl_cacert_file=/etc/ssl/servercerts/ca-cert.pem
ssl_cert_file=/etc/ssl/servercerts/nagios-cert.pem
ssl_cipher_list=ALL:!aNULL:!eNULL:!SSLv2:!LOW:!EXP:!RC4:!MD5:@STRENGTH
ssl_client_certs=2
ssl_logging=0x20
ssl_privatekey_file=/etc/ssl/servercerts/nagios-key.pem
ssl_use_adh=1
ssl_version=SSLv2+
command[check_all_procs]=/usr/lib/monitoring-plugins/custom_check_procs
command[check_apt]=/usr/lib/monitoring-plugins/check_apt
command[check_asterisk]=/usr/lib/monitoring-plugins/check_asterisk.pl $ARG1$
command[check_asterisk_channels]=/usr/lib/monitoring-plugins/nagisk.pl -c channels 
command[check_asterisk_peers]=/usr/lib/monitoring-plugins/nagisk.pl -c peers
command[check_asterisk_sip_peers]=sudo /usr/lib/monitoring-plugins/check_asterisk_sip_peers.sh $ARG1$
command[check_asterisk_span]=/usr/lib/monitoring-plugins/nagisk.pl -c span -s 1
command[check_asterisk_version]=/usr/lib/monitoring-plugins/nagisk.pl -c version
command[check_asterisk_zaptel]=/usr/lib/monitoring-plugins/nagisk.pl -c zaptel 
command[check_cpu_stats]=/usr/lib/monitoring-plugins/check_cpu_stats.sh $ARG1$
command[check_disk]=/usr/lib/monitoring-plugins/check_disk $ARG1$
command[check_hda1]=/usr/lib/monitoring-plugins/check_disk -w 20% -c 10% -p /dev/hda1
command[check_init_service]=sudo /usr/lib/monitoring-plugins/check_init_service $ARG1$
command[check_load]=/usr/lib/monitoring-plugins/check_load $ARG1$
command[check_mem]=/usr/lib/monitoring-plugins/custom_check_mem -n $ARG1$
command[check_netstat]=/usr/lib/monitoring-plugins/check_netstat.pl -p $ARG1$ $ARG2$
command[check_open_files]=/usr/lib/monitoring-plugins/check_open_files.pl $ARG1$
command[check_procs]=/usr/lib/monitoring-plugins/check_procs $ARG1$
command[check_services]=/usr/lib/monitoring-plugins/check_services -p $ARG1$
command[check_sip]=/usr/lib/monitoring-plugins/check_sip $ARG1$
command[check_swap]=/usr/lib/monitoring-plugins/check_swap $ARG1$
command[check_total_procs]=/usr/lib/monitoring-plugins/check_procs -w 150 -c 200
command[check_users]=/usr/lib/monitoring-plugins/check_users $ARG1$
command[check_yum]=/usr/lib/monitoring-plugins/check_yum
command[check_zombie_procs]=/usr/lib/monitoring-plugins/check_procs -w 5 -c 10 -s Z
nasty_metachars=|`&><'\\[]{};\r\n
performance_timeout=120 
extended_response=1
large_payload=1
