# /qompassai/dotfiles/.config/pluginsettings.cfg
# Qompass AI Audacity Plugin Settings Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
pluginsettingsversion=1.0
[pluginsettings]
[pluginsettings/base64\:RWZmZWN0X055cXVpc3Rfbi9hX055cXVpc3QgR2VuZXJhdGUgUHJvbXB0]
[pluginsettings/base64\:RWZmZWN0X055cXVpc3Rfbi9hX055cXVpc3QgR2VuZXJhdGUgUHJvbXB0/private]
[pluginsettings/base64\:RWZmZWN0X055cXVpc3Rfbi9hX055cXVpc3QgR2VuZXJhdGUgUHJvbXB0/private/FactoryDefaults]
Parameters=code1="" code10="" code2="" code3="" code4="" code5="" code6="" code7="" code8="" code9=""
Initialized=1
[pluginsettings/base64\:RWZmZWN0X055cXVpc3Rfbi9hX055cXVpc3QgR2VuZXJhdGUgUHJvbXB0/private/CurrentSettings]
Parameters=code1="" code10="" code2="" code3="" code4="" code5="" code6="" code7="" code8="" code9=""
[pluginsettings/base64\:RWZmZWN0X055cXVpc3RfU3RldmUgRGF1bHRvbl9OeXF1aXN0IFBsdWdpbiBJbnN0YWxsZXI\=]
[pluginsettings/base64\:RWZmZWN0X055cXVpc3RfU3RldmUgRGF1bHRvbl9OeXF1aXN0IFBsdWdpbiBJbnN0YWxsZXI\=/private]
[pluginsettings/base64\:RWZmZWN0X055cXVpc3RfU3RldmUgRGF1bHRvbl9OeXF1aXN0IFBsdWdpbiBJbnN0YWxsZXI\=/private/FactoryDefaults]
Parameters=FILES="/home/phaedrus/Desktop/untitled" OVERWRITE="Disallow"
Initialized=1
[pluginsettings/base64\:RWZmZWN0X055cXVpc3RfU3RldmUgRGF1bHRvbl9OeXF1aXN0IFBsdWdpbiBJbnN0YWxsZXI\=/private/CurrentSettings]
Parameters=FILES="\\"/home/phaedrus/.Downloads/subliminal.ny\\"" OVERWRITE="Allow"
[pluginsettings/base64\:RWZmZWN0X055cXVpc3RfQXVkYWNpdHlfTnlxdWlzdCBQcm9tcHQ\=]
[pluginsettings/base64\:RWZmZWN0X055cXVpc3RfQXVkYWNpdHlfTnlxdWlzdCBQcm9tcHQ\=/private]
[pluginsettings/base64\:RWZmZWN0X055cXVpc3RfQXVkYWNpdHlfTnlxdWlzdCBQcm9tcHQ\=/private/FactoryDefaults]
Parameters=Command="" Parameters=""
Initialized=1
[pluginsettings/base64\:RWZmZWN0X055cXVpc3RfQXVkYWNpdHlfTnlxdWlzdCBQcm9tcHQ\=/private/CurrentSettings]
Parameters=Command="" Parameters=""
