# /qompassai/dotfiles/.config/sslh/sslh.cfg
# Qompass AI SSLH Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
timeout: 2;
listen:
(
    { host: "$(pass show sslh/host)"; port: "$(pass show sslh/port)"; }
);
protocols:
(
     { name: "ssh"; service: "ssh"; host: "localhost"; port: "22"; },
     { name: "openvpn"; host: "localhost"; port: "1194"; },
     { name: "xmpp"; host: "localhost"; port: "$(pass show xmpp/port)"; },
     { name: "http"; host: "localhost"; port: "$(pass show http/port)"; },
     { name: "tls"; host: "localhost"; port: "$(pass show tls/port)"; },
     { name: "anyprot"; host: "localhost"; port: "$(pass show anyprot/port)"; }
);
# vim:set ts=4 sw=4 et:
