# /qompassai/dotfiles/.config/csync2/csync2.cfg
# Qompass AI Csync2 Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################

# group mygroup
# {
# 	host host1 host2 (host3);
# 	host host4@host4-eth2;
# 	key "$(pass show csync2/k)";
# 	include /etc/apache;
# 	include %homedir%/bob;
# 	exclude %homedir%/bob/temp;
# 	exclude *~ .*;
# 	action
# 	{
# 		pattern /etc/apache/httpd.conf;
# 		pattern /etc/apache/sites-available/*;
# 		exec "/usr/sbin/apache2ctl graceful";
# 		logfile "/var/log/csync2_action.log";
# 		do-local;
#		# do-local-only;
# 	}
# 	auto none;
# }
# prefix homedir
# {
# 	on host[12]: /export/users;
# 	on *:        /home;
# }
