# /qompassai/dotfiles/.config/vde2/libvdemgmt/asyncrecv.rc
# Qompass AI VDE2 Libvde Management AsyncRec Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
TIMEOUT 1000
1 IN '\n' 100
2 IF '30' 10
3 GOTO 100

10 COPY
11 SKIP 2
12 RVATOI 8
13 EXITRV

100 EXIT -1

