# SPDX-FileCopyrightText: Metadata Cleaner contributors
# SPDX-License-Identifier: GPL-3.0-or-later

[D-BUS Service]
Name=fr.romainvigier.MetadataCleaner
Exec=/usr/bin/metadata-cleaner --gapplication-service
