[D-BUS Service]
Name=org.gnome.evolution.dataserver.Calendar8
Exec=/usr/lib/evolution-calendar-factory
SystemdService=evolution-calendar-factory.service
