[D-BUS Service]
Name=org.freedesktop.portal.Desktop
Exec=/usr/lib/xdg-desktop-portal
SystemdService=xdg-desktop-portal.service
AssumedAppArmorLabel=unconfined
