[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.kde
Exec=/usr/lib/xdg-desktop-portal-kde
SystemdService=plasma-xdg-desktop-portal-kde.service
