[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.gnome
Exec=/usr/lib/xdg-desktop-portal-gnome
SystemdService=xdg-desktop-portal-gnome.service
