[D-BUS Service]
Name=org.gnome.evolution.dataserver.AddressBook10
Exec=/usr/lib/evolution-addressbook-factory
SystemdService=evolution-addressbook-factory.service
