# /qompassai/dotfiles/.config/enscript/enscript.cfg
# Qompass AI Enscript Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
AcceptCompositeCharacters: 0
AFMPath: /usr/share/enscript/afm:/usr/local/lib/ps:/usr/lib/ps
AppendCtrlD: 0
Clean7Bit: 1
DefaultEncoding: latin1
DefaultFancyHeader: enscript
DefaultMedia: A4
DefaultOutputMethod: printer
EscapeChar: 0
FormFeedType: column
GeneratePageSize: 1
HighlightBarGray: .97
HighlightBars: 2
LibraryPath:
MarkWrappedLines: none
Media:	A3		842	1190	24	24	818	1166
Media:	A4		595	842	24	24	571	818
Media:	A5		420	595	24	24	396	571
Media:	Legal		612	1008	24	24	588	984
Media:  Letter		612	792	38	24	574	768
Media:	A4dj		595	842	24	50	571	818
Media:  Letterdj        612     792     24      40      588     768
NoJobHeaderSwitch: -h
NonPrintableFormat: octal
OutputFirstLine: %!PS-Adobe-3.0
PageLabelFormat: short
PagePrefeed: 0
PostScriptLevel: 2
Printer: ps
QueueParam: -P
# SetPageDevice: Duplex:true
Spooler: lpr
StatesBinary: /usr/bin/states
StatesColor: 0
StatesConfigFile: /usr/share/enscript/hl/enscript.st
StatesHighlightStyle: emacs
# StatesPath: /usr/share/enscript/hl
# StatusDict: setpapertray:1
# TOCFormat: $3v $-40N $3% pages $4L lines  $E $C
# Underlay: mtr's printout
# UnderlayAngle: 45
UnderlayFont: Times-Roman200
UnderlayGray: .8
# UnderlayPosition: +0-0
UnderlayStyle: outline
# EOF
