# /qompassai/dotfiles/.config/my.cnf.d/mysql-clients.cnf
# Qompass AI My.Cnf.d Server Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
# References: https://mariadb.com/docs/server/server-management/install-and-upgrade-mariadb/configuring-mariadb/configuring-mariadb-with-option-files
[mysql]
user = $USER
host = localhost
port = 3306
default-character-set = utf8mb4
ssl-ca = /etc/ssl/certs/ca-certificates.crt
prompt = 'MariaDB [\\d]> '
pager = less
[mysql_upgrade]
user = phaedrus
host = localhost
port = 3306
ssl-ca = /etc/ssl/certs/ca-certificates.crt
force
# skip-write-binlog

[mysqladmin]
user = $USER
host = localhost
port = 3306
ssl-ca = /etc/ssl/certs/ca-certificates.crt
sleep = 2
silent

[mysqlbinlog]
user = $USER
host = localhost
port = 3306
ssl-ca = /etc/ssl/certs/ca-certificates.crt
read-from-remote-server
start-position = 4
stop-position = 100
stop-never

[mysqlcheck]
user = phaedrus
host = localhost
port = 3306
ssl-ca = /etc/ssl/certs/ca-certificates.crt
all-databases
optimize
repair

[mysqldump]
user = $USER
host = localhost
port = 3306
default-character-set = utf8mb4
ssl-ca = /etc/ssl/certs/ca-certificates.crt
single-transaction
routines
events
triggers
add-drop-table
add-locks
databases

[mysqlimport]
user = $USER
host = localhost
port = 3306
ssl-ca = /etc/ssl/certs/ca-certificates.crt
fields-terminated-by = ','
columns-terminated-by = '\t'
lines-terminated-by = '\n'
ignore-lines = 1

[mysqlshow]
user = phaedrus
host = localhost
port = 3306
ssl-ca = /etc/ssl/certs/ca-certificates.crt
count
status
verbose

[mysqlslap]
user = phaedrus
host = localhost
port = 3306
ssl-ca = /etc/ssl/certs/ca-certificates.crt
concurrency = 10
iterations = 5
query = SELECT 1;
