# /qompassai/dotfiles/.config/my.cnf.d/provider_lz4.cnf
# Qompass AI My.Cnf.d Lz4 Provider Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
[server]
plugin_load_add=provider_lz4
provider_lz4=force_plus_permanent
