# /qompassai/dotfiles/.config/my.cnf.d/server.cnf
# Qompass AI My.Cnf.d Server Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
# References: http://mariadb.org/feedback-plugin | https://mariadb.com/docs/server/server-management/variables-and-modes/server-system-variables
[embedded]
port = 3406
datadir = /tmp/embedded-db
default_storage_engine = MEMORY
skip-networking
[galera]
bind-address=0.0.0.0
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
wsrep_cluster_address=
wsrep_on=ON
wsrep_provider=
wsrep_slave_threads=1
innodb_flush_log_at_trx_commit=0
[mariadb]
aria_pagecache_buffer_size = 128M
feedback=ON
log_bin = /var/lib/mysql/mariadb-bin
loose-innodb_fast_shutdown = 1
max_connections = 300
plugin_load_add = audit_log
[mariadb-11.8]
adaptive_hash_index = ON
innodb_buffer_pool_size = 768M
log_error_verbosity = 3
parsec_authentication = ON
plugin_dir = /usr/lib64/mariadb/plugin
sql_mode = STRICT_ALL_TABLES,NO_ENGINE_SUBSTITUTION
[mysqld]
bind-address = 0.0.0.0
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
connect_timeout = 10
default_storage_engine = InnoDB
innodb_buffer_pool_size = 512M
innodb_log_file_size = 128M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 0
interactive_timeout = 28800
local_infile = 0
log_error = /var/log/mysql/error.log
log_warnings = 2
long_query_time = 2
max_allowed_packet = 64M
max_connections = 200
server_id = 1
skip_symbolic_links = 1
skip_external_locking
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
table_open_cache = 400
wait_timeout = 28800
[server]
port = 3306
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
