# #################################################################
# /qompassai/dotfiles/.config/screego/screego.config
# Qompass AI Screego Config
# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 Qompass AI
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at:
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# #################################################################


# Load via: env $(cat screego.config | xargs) screego serve
SCREEGO_AUTH_MODE=all
SCREEGO_EXTERNAL_IP=dns:screego.qompass.ai
SCREEGO_LOG_LEVEL=info
SCREEGO_SECRET=CHANGE_ME_SECRET
SCREEGO_SERVER_ADDRESS=0.0.0.0:5050
SCREEGO_SESSION_TOKEN_TTL=24h
SCREEGO_TLS_CERT_FILE=
SCREEGO_TLS_KEY_FILE=
SCREEGO_TRUST_PROXY_HEADERS=true
SCREEGO_STUN_SERVERS=stun:stun.l.google.com:19302
SCREEGO_TURN_ADDRESS=
SCREEGO_TURN_PORT_RANGE=
SCREEGO_TURN_PUBLIC_IP=
SCREEGO_TURN_PROTOCOL=udp
SCREEGO_TURN_REALM=screego
SCREEGO_BRANDING_NAME=Screego
SCREEGO_BRANDING_LOGO_URL=
