# /qompassai/dotfiles/.config/java-jdk/jaxp-strict-properties.template
# Qompass AI Java JDK Jax Properties Config
# Copyright (C) 2025 Qompass AI, All rights reserved
######################################################
jdk.xml.enableExtensionFunctions=true
jdk.xml.overrideDefaultParser=true
jdk.xml.jdkcatalog.resolve=strict
jdk.xml.dtd.support=deny
jdk.xml.dtd.support=allow
jdk.xml.entityExpansionLimit=2500
jdk.xml.totalEntitySizeLimit=100000
jdk.xml.maxGeneralEntitySizeLimit=100000
jdk.xml.maxParameterEntitySizeLimit=15000
jdk.xml.entityReplacementLimit=100000
jdk.xml.elementAttributeLimit=200
jdk.xml.maxOccurLimit=5000
jdk.xml.maxElementDepth=100
jdk.xml.maxXMLNameLimit=1000
jdk.xml.xpathExprGrpLimit=10
jdk.xml.xpathExprOpLimit=100
jdk.xml.xpathTotalOpLimit=10000
