# /qompassai/dotfiles/.config/webapps/gitlab-shell/config.yml
# Qompass AI GitLab-Shell Webapp Git Config
# Copyright (C) 2025 Qompass AI, All rights reserved
##############################################################
[user]
    name = "$(pass show gls/user)"
    email = "$(pass show gls/mail)"
[core]
    autocrlf = input
    fsync = all
[receive]
    advertisePushOptions = true
[gc]
    auto = 0
[repack]
    writeBitmaps = true
