[Desktop Entry]
Name=CPack Help
Exec=env WINEPREFIX="/home/phaedrus/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\CMake\\ 2.8\\\\CPack\\ Help.lnk
Type=Application
StartupNotify=true
Path=/home/phaedrus/.wine/dosdevices/c:/Program Files (x86)/CMake 2.8
StartupWMClass=cpack.html
