# Load firmware for this printer.

#ACTION!="add", GOTO="mud_rules_end"

#SUBSYSTEM=="usb_device", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="1e10", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#CM230DN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="6300", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#CM230ADN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="6301", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#BM230N
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="6302", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#BM230ADN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="6303", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#BM320ADN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="6304", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

#CM5050ADN
#SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="0352", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"


#M7100DN
#SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="0ecf", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

LABEL="mud_rules_end"
