ENV{DEVTYPE}=="usb_device", ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="129a", RUN+="/usr/bin/ipad_charge"
ENV{DEVTYPE}=="usb_device", ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="129f", RUN+="/usr/bin/ipad_charge"
ENV{DEVTYPE}=="usb_device", ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="12a2", RUN+="/usr/bin/ipad_charge"
ENV{DEVTYPE}=="usb_device", ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="12a4", RUN+="/usr/bin/ipad_charge"
