# /qompassai/dotfiles/.config/mbuffer/mbuffer.rc
# Qompass AI MBuffer Config
# Copyright (C) 2025 Qompass AI, All rights reserved
###########################################
Verbose = warning
Blocksize = 10240
Numblocks = 256
TotalMem = 0
MaxWriteSpeed = 0
MaxReadSpeed = 0
pause = 0
autoloadtime = 0
startread = 100
startwrite = 0
timeout = 0
showstatus = yes
logstatus = on
memlock = 0
printpid = 0
StatusInterval=0.5
TCPbufsize = 0
TCPtimeout = 100s
Tapeaware = false
directio = 1
