# /qompassai/dotfiles/.config/icmake/icmstart.rc
# Qompass AI Icmake Config
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################

#   icmstart -b ...

    CLASSES
    icmconf
P   main.cc     
P   main.ih     
Pb  usage.cc
Pb  version.cc
 
P ? scanner
P ? parser
