<?xml version="1.0" encoding="utf-8"?>
<!-- /qompassai/dotfiles/nuget/nuget.config -->
  <!-- Qompass AI Nuget Config -->
<!-- Copyright (C) 2025 Qompass AI, All rights reserved -->
<!-- References: https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file -->
 <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
    <packageSourceCredentials>
    <!--
    <myrepo>
      <add key="Username" value="myuser" />
      <add key="ClearTextPassword" value="mypassword" />
    </myrepo>
    -->
  </packageSourceCredentials>
    <apikeys>
    <!-- <add key="https://myrepo.company/v3/index.json" value="encrypted_api_key" /> -->
  </apikeys>
    <trustedSigners>
    <author name="microsoft">
      <certificate fingerprint="3F9001EA83C560D712C24CF213C3D312CB3BFF51EE89435D3430BD06B5D0EECE" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="566A31882BE208BE4422F7CFD66ED09F5D4524A5994F50CCC8B05EC0528C1353" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <owners>microsoft;aspnet;nuget</owners>
    </repository>
  </trustedSigners>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <config>
    <add key="globalPackagesFolder" value="${XDG_DATA_HOME:-$HOME/.local/share}/nuget/packages" />
    <add key="repositoryPath" value="${XDG_DATA_HOME:-$HOME/.local/share}/nuget/repository" />
        <add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
            <add key="signatureValidationMode" value="require" />
                <add key="storePasswordInClearText" value="false" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>
