# /qompassai/dotfiles/.config/tlsrpt/collectd.cfg
# Qompass AI TLSRpt Collectd Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
[tlsrpt_collectd]
storage = sqlite:///var/lib/tlsrpt/tlsrpt-collectd.sqlite
logfilename = /var/log/tlsrpt/tlsrpt-collectd.log
socketname = /run/tlsrpt/tlsrpt-collectd.socket
socketmode = 0660
