# /qompassai/dotfiles/.config/tlsrpt/fetcher.cfg
# Qompass AI TLSRpt Fetcher Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
[tlsrpt_fetcher]
storage = sqlite:///var/lib/tlsrpt/tlsrpt-collectd.sqlite
logfilename = /var/log/tlsrpt/tlsrpt-fetcher.log
