# /qompassai/dotfiles/.config/tlsrpt/reportd.conf
# Qompass AI TLSRpt Reportd Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
[tlsrpt_reportd]
dbname = /var/lib/tlsrpt/tlsrpt-reportd.sqlite
logfilename = /var/log/tlsrpt/tlsrpt-reportd.log
fetchers = tlsrpt-fetcher
organization_name = EXAMPLE.COM
contact_info = tlsrpt@EXAMPLE.COM
sender_address = noreply@EXAMPLE.COM
