#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/phaedrus/.cache/paru/clone/unreal-engine/src/unreal-engine/Engine/Binaries/Linux/UnrealVersionSelector-Linux-Shipping -projectfiles %f
Path=/home/phaedrus/.cache/paru/clone/unreal-engine/src/unreal-engine/Engine/Binaries/Linux
Name=Unreal Engine Generate Project Files
Icon=ubinary
Terminal=false
StartupWMClass=UnrealVersionSelector-Linux-Shipping
MimeType=application/uproject
Comment=Created By Unreal Engine
