[Desktop Entry]
Name=omniverse-launcher
Exec="undefined" --no-sandbox %u
Type=Application
Terminal=false
MimeType=x-scheme-handler/omniverse-launcher
