# converted by firecfg
[Desktop Entry]
Name[ab]=Ажәамаӡақәеи ацаҧхақәеи
Name[ar]=كلمات السرِّ ومفاتيح التعمية
Name[as]=পাছৱৰ্ডসমূহ আৰু কি'সমূহ
Name[be]=Паролі і ключы
Name[bg]=Пароли и ключове
Name[bs]=Lozinke i ključevi
Name[ca]=Contrasenyes i claus
Name[ca@valencia]=Contrasenyes i claus
Name[cs]=Hesla a klíče
Name[da]=Adgangskoder og nøgler
Name[de]=Passwörter und Verschlüsselung
Name[el]=Κωδικοί πρόσβασης και κλειδιά
Name[en_GB]=Passwords and Keys
Name[eo]=Pasvortoj kaj ŝlosiloj
Name[es]=Contraseñas y claves
Name[et]=Paroolid ja võtmed
Name[eu]=Pasahitzak eta Gakoak
Name[fa]=گذرواژه‌ها و کلیدها
Name[fi]=Salasanat ja avaimet
Name[fr]=Mots de passe et clés
Name[fur]=Password e clâfs
Name[ga]=Focail Fhaire agus Eochracha
Name[gd]=Faclan-faire is iuchraichean
Name[gl]=Contrasinais e chaves de cifrado
Name[he]=סיסמאות ומפתחות
Name[hi]=कूटशब्द व कुंजी
Name[hr]=Lozinke i ključevi
Name[hu]=Jelszavak és kulcsok
Name[id]=Kata Sandi dan Kunci
Name[ie]=Contrasignes e claves
Name[is]=Lykilorð og dulritunarlyklar
Name[it]=Password e chiavi
Name[ja]=パスワードと鍵
Name[ka]=პაროლები და გასაღებები
Name[kk]=Парольдер және кілттер
Name[ko]=암호 및 키
Name[lt]=Slaptažodžiai ir raktai
Name[lv]=Paroles un atslēgas
Name[mk]=Лозинки и клучеви
Name[ml]=രഹസ്യവാക്കുകളും ചാവികളും
Name[ms]=Kata Laluan dan Kunci
Name[nb]=Passord og nøkler
Name[ne]=पासवर्ड र गुप्तिकरण कुञ्जी
Name[nl]=Wachtwoorden en sleutels
Name[oc]=Senhals e claus
Name[pa]=ਪਾਸਵਰਡ ਅਤੇ ਕੁੰਜੀਆਂ
Name[pl]=Hasła i klucze
Name[pt]=Palavras-passe e chaves
Name[pt_BR]=Senhas e chaves
Name[ro]=Parole și chei
Name[ru]=Пароли и ключи
Name[sk]=Heslá a kľúče
Name[sl]=Gesla in ključi
Name[sr]=Лозинке и кључеви
Name[sr@latin]=Lozinke i ključevi
Name[sv]=Lösenord och nycklar
Name[ta]=கடவுச்சொற்கள் மற்றும் விசைகள்
Name[te]=సంకేతపదాలు మరియు మీటలు
Name[th]=รหัสผ่านและกุญแจ
Name[tr]=Parolalar ve Anahtarlar
Name[ug]=ئىملار ۋە ئاچقۇچلار
Name[uk]=Паролі й ключі
Name[vi]=Mật khẩu và Chìa khóa
Name[zh_CN]=密码和密钥
Name[zh_HK]=密碼及加密密碼匙
Name[zh_TW]=密碼及加密金鑰
Name=Passwords and Keys
Comment[ar]=أدِر كلمات سرّك ومفاتيح تعميتك
Comment[as]=পাছৱৰ্ড আৰু এনক্ৰিপশন-কি' ব্যৱস্থাপনা কৰক
Comment[ast]=Alministra tos contraseñes y claves de cifráu
Comment[be]=Кіраванне паролямі і ключамі шыфравання
Comment[be@latin]=Kiruj parolami j klučami šyfravańnia
Comment[bg]=Управление на паролите и ключовете за шифриране
Comment[bn]=পাসওয়ার্ড ও এনক্রিপশন-কী পরিচালনা করুন
Comment[bn_IN]=পাসওয়ার্ড ও এনক্রিপশন-কি পরিচালনা করুন
Comment[br]=Ardeiñ ho tremengerioù hag alc'hwezioù enrinegañ
Comment[bs]=Uredite vaše lozinke i ključeve šifrovanja
Comment[ca]=Gestioneu les contrasenyes i claus d'encriptació
Comment[ca@valencia]=Gestioneu les contrasenyes i claus d'encriptació
Comment[cs]=Spravujte svá hesla a šifrovací klíče
Comment[da]=Håndtér dine adgangskoder og krypteringsnøgler
Comment[de]=Verwalten Sie Ihre Passwörter und Schlüssel
Comment[dz]=ཁྱོད་རའི་ཆོག་ཡིག་དང་གསང་བཟོ་ལྡེ་མིག་ཚུ་ འཛིན་སྐྱོང་འཐབ་
Comment[el]=Διαχειριστείτε τους κωδικούς πρόσβασης και τα κλειδιά κρυπτογράφησης σας
Comment[en_GB]=Manage your passwords and encryption keys
Comment[en@shaw]=𐑥𐑨𐑯𐑦𐑡 𐑿𐑼 𐑐𐑭𐑕𐑢𐑼𐑛𐑟 𐑯 𐑦𐑯𐑒𐑮𐑦𐑐𐑖𐑩𐑯 𐑒𐑰𐑟
Comment[eo]=Mastrumi viajn pasvortojn kaj ĉifrajn ŝlosilojn
Comment[es]=Administre sus claves y contraseñas de cifrado
Comment[et]=Sinu paroolide ja krüptimisvõtmete haldamine
Comment[eu]=Kudeatu pasahitzak eta zifratze-gakoak
Comment[fa]=مدیریت گذرواژه‌ها و کلیدهای رمزنگاریتان
Comment[fi]=Hallitse salasanoja ja salausavaimia
Comment[fr]=Gérer vos mots de passe et vos clés de chiffrement
Comment[fur]=Ministre lis tôs password e clâfs di cifradure
Comment[ga]=Bainistigh d'fhocail faire agus eochracha criptithe
Comment[gd]=Stiùirich na faclan-faire is iuchraichean crioptachaidh agad
Comment[gl]=Xestione os seus contrasinais e chaves de cifrado
Comment[gu]=તમારા પાસવર્ડો અને એનક્રિપ્શન કીઓની વ્યવસ્થા કરો
Comment[he]=ניהול הסיסמאות ומפתחות ההצפנה שלך
Comment[hi]=अपना कूटशब्द और गोपन कुंजी प्रबंधित करें
Comment[hr]=Upravljajte svojim lozinkama i ključevima šifriranja
Comment[hu]=Jelszavak és titkosítási kulcsok kezelése
Comment[id]=Kelola kata sandi dan kunci enkripsi Anda
Comment[is]=Halda utan um lykilorð og dulritunarlykla
Comment[it]=Gestisce le proprie password e chiavi di cifratura
Comment[ja]=パスワードや暗号鍵を管理します
Comment[kk]=Парольдерді және шифрлеу кілттерін басқару
Comment[kn]=ನಿಮ್ಮ ಗುಪ್ತಪದ ಮತ್ತು ಗೂಢಲಿಪೀಕರಣ ಕೀಲಿಯನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=암호 및 암호화 키를 관리합니다
Comment[lt]=Tvarkyti Jūsų slaptažodžius ir šifravimo raktus
Comment[lv]=Pārvaldīt paroles un šifrēšanas atslēgas
Comment[mk]=Менаџирајте ги Вашите лозинки и клучеви за енкриптирање
Comment[ml]=നിങ്ങളുടെ രഹസ്യവാക്കും എന്‍ക്രിപ്ഷന്‍ കീകളും കൈകാര്യം ചെയ്യുക
Comment[mr]=तुमचे पासवर्ड व ऐंक्रीप्शन किल्ली नियंत्रीत करा
Comment[ms]=Urus kata laluan dan kunci penyulitan anda
Comment[nb]=Håndter dine passord og krypteringsnøkler
Comment[ne]=तपाईँको पासवर्ड र गुप्तिकरण कुञ्जीहरू प्रबन्ध गर्नुहोस्
Comment[nl]=Uw encryptiesleutels en wachtwoorden beheren
Comment[nn]=Handter dine passord og krypteringsnøklar
Comment[oc]=Permet de gerir vòstres senhals e vòstras claus de chiframent
Comment[or]=ଆପଣଙ୍କର ପ୍ରବେଶ ସଂକେତ ଏବଂ ସଂଗୁପ୍ତ କି କୁ ପରିଚାଳନା କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਪਾਸਵਰਡ ਅਤੇ ਇੰਕ੍ਰਿਪਸ਼ਨ ਕੁੰਜੀਆਂ ਦੀ ਦੇਖਭਾਲ ਕਰੋ
Comment[pl]=Zarządzanie hasłami i kluczami szyfrującymi
Comment[pt]=Gerir palavras-passe e chaves de encriptação
Comment[pt_BR]=Gerencie suas senhas e chaves de criptografia
Comment[ro]=Administează parolele și cheile de criptare
Comment[ru]=Управление паролями и ключами шифрования
Comment[sk]=Spravuje vaše heslá a šifrovacie kľúče
Comment[sl]=Upravljanje z gesli in šifrirnimi ključi
Comment[sr]=Уредите ваше лозинке и кључеве шифровања
Comment[sr@latin]=Uredite vaše lozinke i ključeve šifrovanja
Comment[sv]=Hantera dina lösenord och krypteringsnycklar
Comment[ta]=உங்கள் கடவுச்சொற்கள் மற்றும் மறையாக்க விசைகளை மேலாளுங்கள்
Comment[te]=మీ సంకేతపదాలను మరియు రహస్యపరచే మీటలను నిర్వహించండి
Comment[th]=จัดการรหัสผ่านและกุญแจเข้ารหัสลับของคุณ
Comment[tr]=Parolalarınızı ve şifreleme anahtarlarınızı yönetin
Comment[ug]=ئىم ۋە شىفىرلاش ئاچقۇچلىرىنى باشقۇرىدۇ
Comment[uk]=Керування паролями та ключами шифрування
Comment[vi]=Quản lý các mật khẩu và khóa mã hóa của bạn
Comment[zh_CN]=管理您的密码和加密密钥
Comment[zh_HK]=管理密碼及密碼匙
Comment[zh_TW]=管理密碼及金鑰
Comment=Manage your passwords and encryption keys
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[cs]=klíčenka;klíč;šifrování;bezpečnost;zabezpečení;podpis;ssh;gpg;pgp;seahorse;
Keywords[de]=keyring;encryption;security;sign;ssh;gpg;pgp;seahorse;Schlüsselbund;Verschlüsselung;Sicherheit;Signieren;SSH;gpg;pgp;Passwörter;Seahorse;
Keywords[fa]=keyring;encryption;security;sign;ssh;gpg;pgp;seahorse;کلید;رمز;رمزنگاری;امنیت;امضا;دسته‌کلید;اسب آبی;
Keywords[he]=קבוצת מפתחות;הצפנה;אבטחה;חתימה;חיבור מוצפן;gpg;pgp;מחזיק מפתחות;סוס ים;סוסון ים;סוס־ים;סוסון־ים;
Keywords[hu]=kulcstartó;titkosítás;biztonság;aláírás;ssh;gpg;pgp;seahorse;
Keywords[pl]=baza kluczy;hasło;hasła;szyfrowanie;zaszyfruj;bezpieczeństwo;zabezpieczenia;podpisywanie;podpis;podpisz;ssh;gpg;pgp;seahorse;
Keywords[ru]=keyring;encryption;security;sign;ssh;gpg;pgp;seahorse;связка;шифрование;безопасность;подпись;
Keywords[sl]=zbirka ključev;šifriranje;varnost;podpisovanje;ssh;gesla;gpg;pgp;enkripcija;zbirka;ključev;ključi;ključ;
Keywords[sv]=nyckelring;kryptering;säkerhet;signera;ssh;gpg;pgp;seahorse;
Keywords[tr]=anahtarlık;şifreleme;güvenlik;imza;ssh;gpg;pgp;seahorse;
Keywords[uk]=в’язка;шифрування;безпека;підпис;ссх;жпж;пжп;сіхорс;keyring;encryption;security;sign;ssh;gpg;pgp;seahorse;
Keywords[zh_CN]=keyring;encryption;security;sign;ssh;gpg;pgp;seahorse;密钥环;加密;安全;签名;密码;密钥;证书;密钥串;
Keywords=keyring;encryption;security;sign;ssh;gpg;pgp;seahorse;
Exec=seahorse %u
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.seahorse.Application
Categories=GNOME;GTK;Security;Utility;DesktopSettings;X-XFCE-SettingsDialog;
MimeType=application/pgp-keys;application/x-ssh-key;application/pkcs12;application/pkcs12+pem;application/pkcs7-mime;application/pkcs7-mime+pem;application/pkcs8;application/pkcs8+pem;application/pkix-cert;application/pkix-cert+pem;application/pkix-crl;application/pkix-crl+pem;application/x-pem-file;application/x-pem-key;application/x-pkcs12;application/x-pkcs7-certificates;application/x-x509-ca-cert;application/x-x509-user-cert;application/pkcs10;application/pkcs10+pem;application/x-spkac;application/x-spkac+base64;
StartupNotify=true
DBusActivatable=false
X-Purism-FormFactor=Workstation;Mobile;
