# converted by firecfg
[Desktop Entry]
Name[bg]=Апостроф
Name[ca]=Apostrophe
Name[cs]=Apostrophe
Name[da]=Apostrophe
Name[de]=Apostrophe
Name[el]=Απόστροφος
Name[en_GB]=Apostrophe
Name[es]=Apostrophe
Name[eu]=Apostrophe
Name[fa]=آپاستروف
Name[fi]=Apostrophe
Name[fr]=Apostrophe
Name[fur]=Apostrophe
Name[gl]=Apóstrofe
Name[he]=אפוסטרוף
Name[hi]=Apostrophe
Name[hr]=Apostrof
Name[hu]=Aposztróf
Name[id]=Apostrophe
Name[ie]=Apostrof
Name[is]=Apostrophe
Name[it]=Apostrophe
Name[ka]=Apostrophe
Name[nb]=Apostrophe
Name[nl]=Apostrophe
Name[oc]=Apostrophe
Name[pl]=Apostrof
Name[pt]=Apóstrofe
Name[pt_BR]=Apostrophe
Name[ro]=Apostrof
Name[ru]=Апостроф
Name[sl]=Apostrof
Name[sr]=Апостроф
Name[sv]=Apostrophe
Name[tr]=Apostrophe
Name[uk]=Апостроф
Name[vi]=Apostrophe
Name[zh_CN]=Apostrophe
Name[zh_TW]=Apostrophe
Name=Apostrophe
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! Do NOT translate "uberwriter" or "apostrophe"! The list MUST also end with a semicolon!
Keywords[bg]=апостроф;редактор;текст;пиша;писане;uberwriter;UberWriter;apostrophe;markdown;editor;text;write;
Keywords[ca]=uberwriter;UberWriter;apostrophe;markdown;editor;text;escriu;
Keywords[da]=uberwriter;UberWriter;apostrophe;markdown;editor;redigering;tekst;skriv;skrive;
Keywords[de]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;Apostrophe;Markdown;Editor;Text;schreiben;
Keywords[el]=uberwriter;UberWriter;απόστροφος;markdown;επεξεργαστής;κείμενο;εγγραφή;
Keywords[en_GB]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;
Keywords[es]=uberwriter;UberWriter;apostrophe;markdown;editor;texto;escribir;
Keywords[eu]=uberwriter;UberWriter;apostrophe;markdown;editorea;testua;idatzi;
Keywords[fa]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;اوبررایتر;اوبر رایتر;آپاستروف;آپوستروف;مارک‌دان;مارک‌داون;مارک‌دون;ویرایشگر;ادیتور;متن;نوشتن;
Keywords[fi]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;muokkain;
Keywords[fr]=uberwriter;UberWriter;apostrophe;markdown;éditeur;texte;écrire;
Keywords[fur]=uberwriter;UberWriter;apostrophe;markdown;marcadure;editôr;test;scrivi;
Keywords[gl]=uberwriter;UberWriter;apóstrofe;markdown;editor;texto;escribir;
Keywords[he]=עורך על;עורך טקסט;אפוסטרוף;עורך;מרקדאון;כתב;טקסט;כתיבה;גרש;מירכא;apostrophe;uberwriter;
Keywords[hi]=uberwriter;UberWriter;apostrophe;मार्कडाउन;संपादक;पाठ;लिखें;
Keywords[hr]=uberwriter;UberWriter;apostrof;markdown;uređivač;tekst;pisati;
Keywords[hu]=uberwriter;UberWriter;apostrophe;aposztróf;markdown;szerkesztő;szöveg;írás
Keywords[id]=uberwriter;UberWriter;apostrophe;markdown;penyunting;teks;menulis;editor;
Keywords[is]=uberwriter;UberWriter;apostrophe;markdown;ritill;texti;skrifa;
Keywords[it]=uberwriter;UberWriter;apostrophe;markdown;editor;testo;scrivere;scrittura;
Keywords[ka]=uberwriter;UberWriter;აპოსტროფი;მარკდაუნი;რედაქტორი;ტექსტი;წერა;
Keywords[nb]=uberwriter;markdown;redigering;skriving;
Keywords[nl]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;bewerker;tekst;schrijven;apostrof;
Keywords[pl]=uberwriter;UberWriter;apostrophe;markdown;edytor;tekstu;text;editor;zwykły tekst;pisanie;pisz;napisz;write;
Keywords[pt]=uberwriter;UberWriter;apóstrofe;apóstrofo;markdown;editor;texto;escrever;
Keywords[pt_BR]=uberwriter;UberWriter;apostrophe;markdown;marcação;editor;edição;texto;writer;escrever;
Keywords[ro]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;scriitor uber;Scriitor uber;apostrof;scrie;
Keywords[ru]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;апостроф;маркдаун;редактор;текст;
Keywords[sl]=uberwriter;UberWriter;apostrophe;markdown;editor;urejevalnik;apostrof;opuščaj;oblikovanje;nadurejevalnik;nad-urejevalnik;gedit;notepadqq;notepad++;
Keywords[sr]=подписац;апостроф;уређивач;текст;писање;uberwriter;UberWriter;apostrophe;markdown;editor;text;write;
Keywords[sv]=uberwriter;UberWriter;apostrophe;markdown;redigerare;editor;text;skriv;
Keywords[tr]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;metin düzenleyici;düzenleyici;yazı;yaz;
Keywords[uk]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;уберрайтер;апостроф;маркдаун;розмітка;редактор;текст;писати;
Keywords[vi]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;sửa;sua;văn bản;van ban;viết;viet;
Keywords[zh_CN]=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;编辑器;文本;文字;编写;写作;
Keywords=uberwriter;UberWriter;apostrophe;markdown;editor;text;write;
Comment[bg]=„Апостроф“, елегантен редактор на Markdown, който не отвлича вниманието
Comment[ca]=Apostrophe, un editor de markdown elegant i sense distraccions
Comment[cs]=Apostrohpe, elegantní Markdown editor bez rušivých elementů
Comment[da]=Apostrophe, elegant markdownredigering uden distraktioner
Comment[de]=Apostrophe, ein einfacher und ablenkungsfreier Markdown-Editor
Comment[el]=Η Απόστροφος, μια κομψή, απαλλαγμένη από διασπάσεις εφαρμογή, επεξεργασίας markdown
Comment[en_GB]=Apostrophe, an elegant, distraction-free markdown editor
Comment[es]=Apostrophe, un editor de Markdown elegante y libre de distracciones
Comment[eu]=Apostrophe, markdown editore dotore eta distrakziorik gabea
Comment[fa]=آپاستروف؛ ویرایشگر مارک‌دونی شیک و بدون حواس‌پرتی
Comment[fi]=Apostrophe on tyylikäs ja häiriötekijät minimoiva markdown-muokkain
Comment[fr]=Apostrophe, un éditeur markdown élégant et sans distraction
Comment[fur]=Apostrophe, un elegant editôr di marcaduris libar di distrazions
Comment[gl]=Apóstrofe, un editor de markdown elegente e sen distracións
Comment[he]=אפוסטרוף, עורך Markdown אלגנטי ונקי מהפרעות
Comment[hi]=Apostrophe, एक सुंदर, विकर्षण-मुक्त मार्कडाउन संपादक
Comment[hr]=Apostrof, elegantan i jednostavan markdown uređivač
Comment[hu]=Az Aposztróf egy elegáns, zavartalan Markdown-szerkesztő
Comment[id]=Apostrophe, penyunting markdown yang elegan dan bebas gangguan
Comment[ie]=Apostrof, un elegant redactor de Markdown sin distractiones
Comment[is]=Apostrophe, glæsilegur markdown ritill til að halda óskertri athygli við ritstörfin.
Comment[it]=Apostrophe, un editor markdown elegante e senza distrazioni
Comment[ka]=აპოსტროფი - ელეგანტური, ფოკუსირებული მარკდაუნის რედაქტორი
Comment[nb]=Skriv Markdown med stil
Comment[nl]=Apostrophe, een elegante, afleidingsvrije markdownbewerker
Comment[oc]=Apostrophe, un editor markdown elegant e sens distraccion
Comment[pl]=Apostrof, elegancki, nierozpraszający edytor formatu Markdown
Comment[pt]=Apóstrofe, um editor markdown elegante e sem distração
Comment[pt_BR]=Apostrophe, um editor markdown elegante e livre de distrações
Comment[ro]=Apostrof, un editor markdown elegant, fără distracții
Comment[ru]=Апостроф - элегантный, не отвлекающий внимание markdown-редактор
Comment[sl]=Apostrof, enostaven, a funkcijsko zmogljiv urejevalnik zapisa markdown.
Comment[sr]=Апостроф, елегантан, уређивач обележавања који не одвлачи пажњу
Comment[sv]=Apostrophe, en elegant, distraktionsfri markdown-redigerare
Comment[tr]=Apostrophe; güzel, ilgi dağıtmayan markdown düzenleyici
Comment[uk]=«Апостроф» — елегантний ненав'язливий редактор для markdown
Comment[vi]=Apostrophe, một bộ chỉnh sửa markdown tao nhã và không sao nhãng
Comment[zh_CN]=Apostrophe，一个优雅无干扰的 Markdown 编辑器
Comment[zh_TW]=Apostrophe，優雅、簡約、不干擾你寫作的 Markdown 編輯器
Comment=Apostrophe, an elegant, distraction-free markdown editor
Categories=GNOME;GTK;Office;
Exec=apostrophe %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.gitlab.somas.Apostrophe
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=false
MimeType=text/x-markdown;text/plain;
Actions=new-window;

[Desktop Action new-window]
Name[ne]=नयाँ सञ्झ्याल
Name[vi]=Cửa sổ mới
Name=New Window
Exec=apostrophe --new-window
