# /qompassai/dotfiles/.config/mgetty+sendfax/dialin.config
# Qompass AI MGetty+SendFax Dialin Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#######################################################
#3433535, 7445343, 5551212
#4164646777
#!416
#!3444444
#832, 555
#!none
#OUT_OF_AREA
#O
#!P
#!all
