# /qompassai/dotfiles/.config/mgetty+sendfax/faxrunq.config
# Qompass AI MGetty+SendFax Faxrunq Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#######################################################
success-send-mail n
failure-send-mail n
success-call-program /usr/local/lib/mgetty+sendfax/fax-success
failure-call-program /usr/local/lib/mgetty+sendfax/fax-fail
maxfail-costly 5
maxfail-total 20
delete-sent-jobs y
acct-log /var/log/acct.log
fax-devices ttyS0:ttyS1
faxrunqd-log /var/log/faxrunqd.log
faxrunqd-keep-logs 5
policy-config /usr/local/lib/mgetty+sendfax/policy.config
queue-length-high 250 /path/to/script.sh
queue-length-low  100 /path/to/script.sh
modem-error-threshold X /path/to/script.sh
 delay-rule 10 20 20 10m
