# /qompassai/dotfiles/.config/mgetty+sendfax/mgetty.config 
# Qompass AI MGetty+SendFax MGetty Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#######################################################
debug 4
fax-id 49 115 xxxxxxxx
speed 38400
port-owner uucp
port-group uucp
port-mode 0664
fax-owner root
fax-group uucp
fax-mode 0640
port ttyS0
debug 3
data-only y
port ttyS1
  speed 38400
  switchbd 19200

port ttyS2
  debug 8
  init-chat "" \d\d\d+++\d\d\dAT&FS2=255 OK ATN3S0=0S13.2=1 OK 
  statistics-chat "" AT OK ATI2 OK
  statistics-file /var/log/statistics.ttyS2
  modem-type cls2

port ttyS3
  direct y
  speed 19200
  toggle-dtr n
