# /qompassai/dotfiles/.config/mgetty+sendfax/sendfax.config 
# Qompass AI MGetty+SendFax SendFax Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#######################################################
verbose y
debug 5
fax-devices tty4c:tty4d
fax-id 49 115 xxxxxxxx
#dial-prefix ATD
max-tries 3
max-tries-continue y
port ttyS0
 modem-handshake AT&K4
port ttyS1
  modem-type cls2
