<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<!--
/qompassai/dotfiles/.config/xml/checkstyle.xml
 Qompass AI Diver Lint Lang Config
 Copyright (C) 2025 Qompass AI, All rights reserved
-->
<module name="Checker">

    <module name="AbbreviationAsWordInName"/>
    <module name="AbstractClassName"/>
    <module name="AnnotationLocation"/>
    <module name="AnnotationUseStyle"/>
    <module name="ArrayTypeStyle"/>
    <module name="AvoidEscapedUnicodeCharacters"/>
    <module name="AvoidInlineConditionals"/>
    <module name="AvoidNestedBlocks"/>
    <module name="AvoidNoArgumentSuperConstructorCall"/>
    <module name="AvoidStarImport"/>
    <module name="AvoidStaticImport"/>

    <module name="BooleanExpressionComplexity"/>
    <module name="BlockLength"/>
    <module name="BlockSeparator"/>
    <module name="Bounds"/>
    <module name="Brackets"/>
    <module name="BuiltinTypeName"/>

    <module name="ClassDataAbstractionCoupling"/>
    <module name="ClassFanOutComplexity"/>
    <module name="ClassTypeParameterName"/>
    <module name="CommentsIndentation"/>
    <module name="ConstantName"/>
    <module name="CovariantEquals"/>
    <module name="CustomImportOrder"/>
    <module name="CyclomaticComplexity"/>

    <module name="DeclarationOrder"/>
    <module name="DefaultComesLast"/>
    <module name="DescendantToken"/>
    <module name="DesignForExtension"/>
    <module name="DoubleCheckedLocking"/>
    <module name="DuplicateCode"/>
    <module name="DuplicateImports"/>

    <module name="EmptyBlock"/>
    <module name="EmptyCatchBlock"/>
    <module name="EmptyForInitializerPad"/>
    <module name="EmptyForIteratorPad"/>
    <module name="EmptyLineSeparator"/>
    <module name="EmptyStatement"/>
    <module name="EqualsAvoidNull"/>
    <module name="ExecutableStatementCount"/>
    <module name="ExplicitInitialization"/>
    <module name="ExplicitInitialization"/>

    <module name="FallThrough"/>
    <module name="FileLength"/>
    <module name="FileTabCharacter"/>
    <module name="FinalClass"/>
    <module name="FinalLocalVariable"/>
    <module name="FinalParameters"/>
    <module name="ForbiddenComment"/>
    <module name="ForbidWildcardAsParameterType"/>
    <module name="ForLoopPad"/>

    <module name="GenericWhitespace"/>
    <module name="GenericWhitespace"/>
    <module name="GenericWhitespace"/>
    <module name="Header"/>
    <module name="HiddenField"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="IllegalCatch"/>
    <module name="IllegalImport"/>
    <module name="IllegalInstantiation"/>
    <module name="IllegalThrows"/>
    <module name="IllegalToken"/>
    <module name="IllegalTokenText"/>
    <module name="IllegalType"/>
    <module name="ImportControl"/>
    <module name="ImportOrder"/>
    <module name="Indentation"/>
    <module name="InnerAssignment"/>
    <module name="InterfaceIsType"/>
    <module name="InterfaceTypeParameterName"/>
    <module name="JavadocMethod"/>
    <module name="JavadocPackage"/>
    <module name="JavadocParagraph"/>
    <module name="JavadocStyle"/>
    <module name="JavadocTagContinuationIndentation"/>
    <module name="JavadocType"/>
    <module name="JavadocVariable"/>
    <module name="JavaNCSS"/>
    <module name="JavaDoc"/>
    <module name="JavaDocStyle"/>
    <module name="JavaDocTagContinuationIndentation"/>
    <module name="JavaDocType"/>
    <module name="JavaDocVariable"/>
    <module name="LeftCurly"/>
    <module name="LineLength"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="Logger"/>
    <module name="MagicNumber"/>
    <module name="MemberName"/>
    <module name="MethodCount"/>
    <module name="MethodLength"/>
    <module name="MethodName"/>
    <module name="MethodParamPad"/>
    <module name="MethodTypeParameterName"/>
    <module name="MissingCtor"/>
    <module name="MissingJavadocMethod"/>
    <module name="MissingJavadocType"/>
    <module name="MissingSwitchDefault"/>
    <module name="ModifierOrder"/>
    <module name="ModifiedControlVariable"/>
    <module name="NestedForDepth"/>
    <module name="NestedIfDepth"/>
    <module name="NestedTryDepth"/>
    <module name="NewlineAtEndOfFile"/>
    <module name="NoClone"/>
    <module name="NoFinalizer"/>
    <module name="NoLineWrap"/>
    <module name="NonEmptyAtclauseDescription"/>
    <module name="NonEmptyInitializer"/>
    <module name="NonEmptyStatement"/>
    <module name="NonEmptySwitchBlock"/>
    <module name="OneStatementPerLine"/>
    <module name="OneTopLevelClass"/>
    <module name="OperatorWrap"/>
    <module name="OuterTypeFilename"/>
    <module name="PackageAnnotation"/>
    <module name="PackageDeclaration"/>
    <module name="PackageName"/>
    <module name="ParameterAssignment"/>
    <module name="ParameterName"/>
    <module name="ParameterNumber"/>
    <module name="ParenPad"/>
    <module name="PatternVariableName"/>
    <module name="PlainText"/>
    <module name="PropertyType"/>
    <module name="ProtectedInnerClass"/>
    <module name="PublicMemberCount"/>
    <module name="RedundantImport"/>
    <module name="RedundantModifier"/>
    <module name="Regexp"/>
    <module name="RegexpHeader"/>
    <module name="RegexpMultiline"/>
    <module name="RegexpOnFilename"/>
    <module name="RegexpSingleline"/>
    <module name="RegexpSinglelineJava"/>
    <module name="RequireThis"/>
    <module name="ReturnCount"/>
    <module name="RightCurly"/>
    <module name="SeparatorWrap"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="SingleLineJavadoc"/>
    <module name="SingleSpaceSeparator"/>
    <module name="StaticVariableName"/>
    <module name="StringLiteralEquality"/>
    <module name="StringLiteralEquality"/>
    <module name="SuperClone"/>
    <module name="SuperFinalize"/>
    <module name="SuppressWarnings"/>
    <module name="SuppressWarningsHolder"/>
    <module name="SwitchDefault"/>
    <module name="SwitchStatement"/>
    <module name="SymbolName"/>
    <module name="TabCharacter"/>
    <module name="TodoComment"/>
    <module name="TrailingComment"/>
    <module name="TrailingWhitespace"/>
    <module name="Translation"/>
    <module name="TreeWalker">
        <module name="AnnotationLocation"/>
        <module name="AnnotationUseStyle"/>
        <module name="ArrayTypeStyle"/>
        <module name="AvoidNestedBlocks"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling"/>
        <module name="ClassFanOutComplexity"/>
        <module name="CyclomaticComplexity"/>
        <module name="DesignForExtension"/>
        <module name="EmptyBlock"/>
        <module name="EqualsAvoidNull"/>
        <module name="FinalClass"/>
        <module name="FinalLocalVariable"/>
        <module name="HiddenField"/>
        <module name="IllegalCatch"/>
        <module name="IllegalImport"/>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="JavadocMethod"/>
        <module name="JavadocType"/>
        <module name="LeftCurly"/>
        <module name="LineLength"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MagicNumber"/>
        <module name="MethodLength"/>
        <module name="MethodName"/>
        <module name="MissingJavadocMethod"/>
        <module name="MissingJavadocType"/>
        <module name="ModifierOrder"/>
        <module name="NestedIfDepth"/>
        <module name="NestedTryDepth"/>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="OneStatementPerLine"/>
        <module name="OneTopLevelClass"/>
        <module name="ParameterAssignment"/>
        <module name="ParameterName"/>
        <module name="ParameterNumber"/>
        <module name="RedundantImport"/>
        <module name="RedundantModifier"/>
        <module name="ReturnCount"/>
        <module name="RightCurly"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StaticVariableName"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="TrailingComment"/>
        <module name="TrailingWhitespace"/>
        <module name="VariableDeclarationUsageDistance"/>
    </module>
    <module name="UncommentedMain"/>
    <module name="UnnecessaryParentheses"/>
    <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
    <module name="UnnecessarySemicolonInEnumeration"/>
    <module name="UnnecessarySemicolonInTryWithResources"/>
    <module name="UpperEll"/>
    <module name="VariableDeclarationUsageDistance"/>
    <module name="VisibilityModifier"/>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround"/>
</module>
