# /qompassai/dotfiles/.config/editorconfig/.editorconfig
# Qompass AI Editorconfig
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = false
tab_width = 8
trim_trailing_whitespace = true

[*.go]
indent_size = 4
tab_width = 4

[*.{js,jsx,ts,tsx}]
indent_size = 2

[*.lua]
indent_size = 2

[*.py]
indent_size = 4
max_line_length = 88

[*.{mojo,🔥}]
indent_size = 4

[{Makefile,**/Makefile,*.mk,runtime/doc/*.txt}]
indent_style = tab
indent_size = 8

[*.rs]
indent_size = 4

[*.scala]
indent_size = 2

[Vagrantfile]
indent_size = 2

[test]
indent_size = 4

[*.zig]
indent_size = 4