# /qompassai/Diver/.gitattributes
# Qompass AI Diver .gitattributes
# Copyright (C) 2025 Qompass AI, All rights reserved
####################################################

*.bat      text eol=crlf
*.dll      binary
*.fnl      linguist-language=Fennel
*.fnl      text eol=lf
*.gif      binary
*.jpg      binary
*.lock     -diff -text
*.lua      linguist-language=Lua
*.lua      text eol=lf
*.md       text eol=lf
*.min.js   -diff
*.png      binary
*.sh       linguist-language=Shell
*.sh       text eol=lf
*.so       binary
*.ts text eol=lf charset=utf-8
*.vim      linguist-language=Vim script
*.vim      text eol=lf
*.zip      binary