# /qompassai/dotfiles/.config/sphinx/sphinx.conf.dist
# Qompass AI Sphinx Conf Dist Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
source src1
{
	type			= mysql


	sql_host		= localhost
	sql_user		= test
	sql_pass		=
	sql_db			= test
	sql_port		= 3306

	sql_sock		= /tmp/mysql.sock

	mysql_connect_flags	= 32 
	mysql_ssl_cert		= /etc/ssl/client-cert.pem
	mysql_ssl_key		= /etc/ssl/client-key.pem
	mysql_ssl_ca		= /etc/ssl/cacert.pem

	mssql_winauth		= 1 # use currently logged on user credentials


	odbc_dsn		= DBQ=C:\data;DefaultDir=C:\data;Driver={Microsoft Text Driver (*.txt; *.csv)};
	sql_query		= SELECT id, data FROM documents.csv


	sql_column_buffers	= content=12M, comments=1M
	sql_query_pre		= SET NAMES utf8
	sql_query_pre		= SET SESSION query_cache_type=OFF


	sql_query		= \
		SELECT id, group_id, UNIX_TIMESTAMP(date_added) AS date_added, title, content \
		FROM documents


	joined/payload field fetch query
	joined fields let you avoid (slow) JOIN and GROUP_CONCAT
	sql_joined_field	= tags from query; SELECT docid, CONCAT('tag',tagid) FROM tags ORDER BY docid ASC
	sql_joined_field	= wtags from payload-query; SELECT docid, tag, tagweight FROM tags ORDER BY docid ASC
	sql_file_field		= content_file_path
	sql_query		= \
	SELECT doc.id, doc.id AS group, doc.title, doc.data \
	FROM documents doc \
	WHERE id>=$start AND id<=$end
	sql_query_range		= SELECT MIN(id),MAX(id) FROM documents
	sql_range_step		= 1000
	sql_attr_uint		= author_id
	sql_attr_uint		= forum_id:9 # 9 bits for forum_id
	sql_attr_uint		= group_id
	sql_attr_bool		= is_deleted
	sql_attr_bigint		= my_bigint_id
	sql_attr_timestamp	= posted_ts
	sql_attr_timestamp	= last_edited_ts
	sql_attr_timestamp	= date_added
	sql_attr_float		= lat_radians
	sql_attr_float		= long_radians
	sql_attr_multi		= uint tag from query; SELECT docid, tagid FROM tags
	sql_attr_multi		= uint tag from ranged-query; \
	SELECT docid, tagid FROM tags WHERE id>=$start AND id<=$end; \
	SELECT MIN(docid), MAX(docid) FROM tags


	sql_attr_string		= stitle

	sql_attr_json		= properties

	sql_field_string	= author

	sql_query_post		=
	sql_query_post_index	= REPLACE INTO counters ( id, val ) \
	VALUES ( 'max_indexed_id', $maxid )
	sql_ranged_throttle	= 0
	sql_query_killlist	= SELECT id FROM documents WHERE edited>=@last_reindex

	unpack_zlib		= zlib_column
	unpack_mysqlcompress	= compressed_column
	unpack_mysqlcompress	= compressed_column_2
	unpack_mysqlcompress_maxsize	= 16M
	hook_connect			= bash sql_connect.sh
	hook_query_range		= bash sql_query_range.sh
	hook_post_index		= bash sql_post_index.sh $maxid
	xmlpipe_command		= cat /var/lib/sphinx/test.xml
	xmlpipe_field		= subject
	xmlpipe_field		= content
	xmlpipe2 attribute declaration
	multi-value, optional, default is empty
	xmlpipe_attr_timestamp	= published
	xmlpipe_attr_uint	= author_id
	xmlpipe_attr_bool	= is_enabled
	xmlpipe_attr_float	= latitude
	xmlpipe_attr_bigint	= guid
	xmlpipe_attr_multi	= tags
	xmlpipe_attr_multi_64	= tags64
	xmlpipe_attr_string	= title
	xmlpipe_attr_json	= extra_data
	xmlpipe_field_string	= content
	xmlpipe_fixup_utf8	= 1
}


source src1throttled : src1
{
	sql_ranged_throttle	= 100
}

index test1
{
	type			= plain
	source			= src1
	path			= /var/lib/sphinx/data/test1
	docinfo			= extern
	dict			= keywords
	mlock			= 0
	morphology		= stem_en, stem_ru, soundex
	morphology		= libstemmer_german
	morphology		= libstemmer_sv
	morphology		= none
	min_stemming_len	= 1
	stopwords		= /var/lib/sphinx/data/stopwords.txt
	wordforms		= /var/lib/sphinx/data/wordforms.txt
	exceptions		= /var/lib/sphinx/data/exceptions.txt
	embedded_limit		= 16K
	min_word_len		= 1
	ignore_chars		= U+00AD


	# minimum word prefix length to index
	# optional, default is 0 (do not index prefixes)
	#
	# min_prefix_len		= 0


	# minimum word infix length to index
	# optional, default is 0 (do not index infixes)
	#
	# min_infix_len		= 0


	# maximum substring (prefix or infix) length to index
	# optional, default is 0 (do not limit substring length)
	#
	# max_substring_len	= 8


	# list of fields to limit prefix/infix indexing to
	# optional, default value is empty (index all fields in prefix/infix mode)
	#
	# prefix_fields		= filename
	# infix_fields		= url, domain


	# expand keywords with exact forms and/or stars when searching fit indexes
	# search-time only, does not affect indexing, can be 0 or 1
	# optional, default is 0 (do not expand keywords)
	#
	# expand_keywords		= 1

	
	# n-gram length to index, for CJK indexing
	# only supports 0 and 1 for now, other lengths to be implemented
	# optional, default is 0 (disable n-grams)
	#
	# ngram_len		= 1


	# n-gram characters list, for CJK indexing
	# optional, default is empty
	#
	# ngram_chars		= U+3000..U+2FA1F


	# phrase boundary characters list
	# optional, default is empty
	#
	# phrase_boundary		= ., ?, !, U+2026 # horizontal ellipsis


	# phrase boundary word position increment
	# optional, default is 0
	#
	# phrase_boundary_step	= 100


	blend_chars		= +, &, U+23
	blend_mode		= trim_tail, skip_pure
	html_strip		= 0
	html_index_attrs	= img=alt,title; a=title;
	html_remove_elements	= style, script
	preopen			= 1
	inplace_enable		= 1
	inplace_hit_gap		= 0
	inplace_docinfo_gap	= 0
	inplace_reloc_factor	= 0.1 
	inplace_write_factor	= 0.1
	index_exact_words	= 1
	overshort_step		= 1
	stopword_step		= 1
	hitless_words		= all
	hitless_words		= hitless.txt
	index_sp		= 1
	index_zones		= title, h*, th
	index_field_lengths	= 1
	regexp_filter		= \b(\d+)\" => \1inch
	regexp_filter		= (blue|red) => color
	bigram_freq_words	= the, a, i, you, my
	bigram_index		= both_freq
	snippets_file_prefix	= /mnt/mydocs/server1
	stopwords_unstemmed	= 0
	global_idf		= /usr/local/sphinx/var/global.idf
}
index test1stemmed : test1
{
	path			= /var/lib/sphinx/data/test1stemmed
	morphology		= stem_en
}


index dist1
{
	type			= distributed
	local			= test1
	local			= test1stemmed
	agent			= localhost:9313:remote1
	agent			= localhost:9314:remote2,remote3
	agent			= /var/run/searchd.sock:remote4
	agent			= server3:9312 | server4:9312 :indexchunk2
	agent			= server3:9312:chunk2server3 | server4:9312:chunk2server4
	agent			= server3:chunk2server3 | server4:chunk2server4
	agent			= server21|server22|server23:chunk2
	agent_blackhole		= testbox:9312:testindex1,testindex2
	agent_persistent		= testbox:9312:testindex1,testindex2
	agent_connect_timeout	= 1000
	agent_query_timeout		= 3000
	ha_strategy				= nodeads
	rlp_context = /usr/local/share/sphinx/rlp/rlp-context.xml
}


{
	type			= rt

	path			= /var/lib/sphinx/data/rt
	rt_mem_limit		= 512M
	rt_field		= title
	rt_field		= content
	rt_attr_uint		= gid
	rt_attr_bigint		= guid
	rt_attr_float		= gpa
	rt_attr_timestamp	= ts_added
	rt_attr_string		= author
	rt_attr_multi		= tags
	rt_attr_multi_64	= tags64
	rt_attr_json		= extra_data
}
indexer
{
	mem_limit		= 128M
	max_iops		= 40
	max_iosize		= 1048576
	max_xmlpipe2_field	= 4M
	write_buffer		= 1M
	max_file_field_buffer	= 32M
	on_file_field_error = skip_document
	lemmatizer_cache = 512M
}
searchd
{
	listen			= 127.0.0.1
	listen			= 192.168.0.1:9312
	listen			= 9312
	listen			= /var/run/searchd.sock
	listen			= 9312
	listen			= 9306:mysql41
	log			= /var/lib/sphinx/log/searchd.log
	query_log		= /var/lib/sphinx/log/query.log
	read_timeout		= 5
	client_timeout		= 300
	max_children		= 30
	pid_file		= /var/lib/sphinx/log/searchd.pid
	seamless_rotate		= 1
	preopen_indexes		= 1
	unlink_old		= 1
	attr_flush_period	= 900
	mva_updates_pool	= 1M
	max_packet_size		= 8M
	max_filters		= 256
	max_filter_values	= 4096
	listen_backlog		= 5
	read_buffer		= 256K
	read_unhinted		= 32K
	max_batch_queries	= 32
	subtree_docs_cache	= 4M
	subtree_hits_cache	= 8M
	workers			= threads
	dist_threads		= 4
	binlog_path		= # disable logging
	binlog_path		= /var/lib/sphinx/data
	binlog_flush		= 2
	binlog_max_log_size	= 256M
	thread_stack		= 128K
	expansion_limit		= 1000
	rt_flush_period		= 900
	query_log_format	= sphinxql
	mysql_version_string	= 5.0.37
	collation_server	= utf8_general_ci
	collation_libc_locale	= ru_RU.UTF-8
	watchdog		= 1
	predicted_time_costs	= doc=64, hit=48, skip=2048, match=64
	sphinxql_state		= sphinxvars.sql
	rt_merge_iops			= 40
	rt_merge_maxiosize		= 1M
	ha_ping_interval		= 0
	ha_period_karma			= 60
	prefork_rotation_throttle	= 100
	snippets_file_prefix		= /mnt/common/server1/
}

common
{
	lemmatizer_base = /usr/local/share/sphinx/dicts
	on_json_attr_error = fail_index
	json_autoconv_numbers = 1
	json_autoconv_keynames = lowercase
	rlp_root = /usr/local/share/sphinx/rlp
	rlp_environment = /usr/local/share/sphinx/rlp/rlp/etc/rlp-environment.xml
	rlp_max_batch_size = 100k
	rlp_max_batch_docs = 100
	plugin_dir			= /usr/local/sphinx/lib

}
--eof--
