# /qompassai/dotfiles/.config/ansible-bundler/ansible.cfg
# Qompass AI Ansible Bundler Config
# Copyright (C) 2025 Qompass AI, All rights reserved
##########################################

[defaults]
retry_files_enabled = False
interpreter_python = auto_silent
roles_path = galaxy-roles
collections_paths = galaxy-collections
