[Desktop Entry]
Name[bs]=Kerberos provjera autentičnosti
Name[cs]=Autentizace Kerberos
Name[da]=Kerberosgodkendelse
Name[de]=Kerberos-Beglaubigung
Name[el]=Πιστοποίηση Kerberos
Name[es]=Autenticación de Kerberos
Name[eu]=Kerberos autentifikazioa
Name[fi]=Kerberos-tunnistautuminen
Name[fr]=Authentification de Kerberos
Name[gl]=Configuración de autenticación de Kerberos
Name[hu]=Kerberos hitelesítés
Name[id]=Otentikasi Kerberos
Name[nb]=Kerberos-autentisering
Name[pl]=Uwierzytelnianie Kerberos
Name[pt]=Autenticação Kerberos
Name[pt_BR]=Autenticação do Kerberos
Name[ro]=Autentificare Kerberos
Name[sl]=Overitev Kerberos
Name[sr]=Потврда идентитета Кербероса
Name[sr@latin]=Potvrda identiteta Kerberosa
Name[sv]=Kerberos-autentisering
Name[tr]=Kerberos Kimlik Doğrulama
Name[uk]=Розпізнавання Kerberos
Name[zh_CN]=Kerberos 认证
Name=Kerberos Authentication
Comment[bs]=Dijalog Kerberos Mrežne autentikacije
Comment[cs]=Dialog síťové autentizace Kerberos
Comment[da]=Godkendelsesdialog til Kerberosnetværk
Comment[de]=Kerberos Netzwerk-Beglaubigungsdialog
Comment[el]=Διάλογος πιστοποίησης δικτύου Kerberos
Comment[es]=Diálogo de autenticación de red de Kerberos
Comment[eu]=Kerberos sareko autentifikazioaren elkarrizketa-koadroa
Comment[fi]=Kerberos-verkkokirjautumisen ikkuna
Comment[fr]=Boîte de dialogue d’authentification réseau Kerberos
Comment[gl]=Diálogo de autenticación de rede de Kerberos
Comment[hu]=Kerberos hálózati hitelesítés ablak
Comment[id]=Dialog Otentikasi Jaringan Kerberos
Comment[nb]=Dialog for nettverksautentisering via Kerberos
Comment[pa]=ਕਰਬਰੋਸ ਨੈੱਟਵਰਕ ਪਰਮਾਣਕਿਤਾ ਡਾਈਲਾਗ
Comment[pl]=Okno uwierzytelniania w sieci Kerberos
Comment[pt]=Diálogo de autenticação na rede Kerberos
Comment[pt_BR]=Diálogo de autenticação de rede do Kerberos
Comment[ro]=Dialog de autentificare de rețea Kerberos
Comment[sl]=Pogovorno okno Kerberos omrežne overitve
Comment[sr]=Прозорче мрежног потврђивања идентитета Кербероса
Comment[sr@latin]=Prozorče mrežnog potvrđivanja identiteta Kerberosa
Comment[sv]=Kerberos-nätverksautentiseringsdialog
Comment[tr]=Kerberos Ağ Kimlik Doğrulama Penceresi
Comment[uk]=Діалогове вікно мережевої аутентифікації Kerberos
Comment[zh_CN]=Kerberos 网络认证对话框
Comment[zh_HK]=Kerberos 網絡驗證對話盒
Comment[zh_TW]=Kerberos 網路驗證對話盒
Comment=Kerberos Network Authentication Dialog
Exec=krb5-auth-dialog
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=krb-valid-ticket
Categories=GNOME;GTK;Utility;Network;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[cs]=kerberos;autentizace;ověřování;
Keywords[da]=kerberos;godkendelse;autentifikation
Keywords[de]=Kerberos;Beglaubigung;Authentifizierung;
Keywords[es]=kerberos;autenticación;
Keywords[eu]=kerberos;autentifikazioa;
Keywords[fi]=kerberos;authentication;tunnistautuminen;tunnistus;todentaminen;todennus;
Keywords[fr]=kerberos;authentification;
Keywords[gl]=kerberos;autenticación
Keywords[hu]=kerberos;hitelesítés;
Keywords[id]=otentikasi;kerberos;
Keywords[pl]=uwierzytelnianie;uwierzytelnij;autoryzacja;autoryzuj;autentykacja;autentykuj;authentication;bilet;ticket;kerberos;krb;krb5;
Keywords[pt]=kerberos;autenticação;
Keywords[pt_BR]=kerberos;autenticação;
Keywords[ro]=kerberos;authentication;autentificare;
Keywords[sr]=керберос;потврда идентитета;
Keywords[sr@latin]=kerberos;potvrda identiteta;
Keywords[sv]=kerberos;autentisering;
Keywords[tr]=kerberos;kimlik doğrulama;yetkilendirme;
Keywords[uk]=kerberos;authentication;керберос;цербер;аутентифікація;автентифікація;розпізнавання;
Keywords=kerberos;authentication;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=krb5-auth-dialog
X-GNOME-Bugzilla-Component=general
X-GNOME-UsesNotifications=true
