[Desktop Entry]
Name=Chats (daemon)
Exec=chatty --gapplication-service
Icon=sm.puri.Chatty
Comment=SMS/MMS, Matrix and XMPP chat application (daemon mode)
Keywords[be]=XMPP;SMS;chat;jabber;messaging;modem;matrix;смс;чат;камунікаванне;мадэм;паведамленні;абмен паведамленнямі;
Keywords[bg]=чат;разговаряне;модем;смс;есемес;джабър;матрица;матрикс;съобщение;XMPP;SMS;chat;jabber;messaging;modem;matrix;
Keywords[cs]=XMPP;SMS;chat;jabber;zprávy;modem;matrix;
Keywords[en_GB]=XMPP;SMS;chat;jabber;messaging;modem;matrix;
Keywords[fa]=XMPP;SMS;chat;jabber;messaging;modem;matrix;پیامک;گپ;جبر;پیام;مودم;ماتریکس;
Keywords[he]=XMPP;מסרון;מסרונים;אס אם אס;SMS;התכתבות;צ׳אט;שיח;מודם;ג׳אבר;ג'אבר;מטריקס;מאטריקס;מודם;
Keywords[hi]=एक्सएमपीपी;एसएमएस;चैट;जैबर;मैसेजिंग;मॉडेम;मैट्रिक्स;
Keywords[ht]=XMPP;SMS;chat;jabber;mesaj;modèm;matrix;
Keywords[ka]=XMPP;SMS;საუბარი;jabber;შეტყობინებები;მოდემი;matrix;
Keywords[pt_BR]=XMPP;SMS;chat;jabber;messaging;modem;matrix;
Keywords[ro]=XMPP;SMS;chat;jabber;messaging;modem;discuție;mesagerie;mesaj;matrix;
Keywords[ru]=XMPP;SMS;chat;jabber;messaging;modem;matrix;смс;чат;общение;модем;сообщение;
Keywords[sl]=XMPP;SMS;klepet;jabber;chat;sporočanje;sporočila;modem;matrix;
Keywords[sv]=XMPP;SMS;chatt;jabber;meddelanden;modem;matrix;
Keywords[tr]=XMPP;SMS;chat;chats;jabber;messaging;modem;mesajlaşma;iletişim;ileti;kısamesaj;kısaileti;MMS;multimedyamesajı;multimedyailetisi;çokluortammesajı;çokluortamiletisi;matrix;matriks;
Keywords[uk]=XMPP;SMS;chat;jabber;messaging;modem;есемес;чат;балачка;спілкування;джабер;повідомлення;модем;матрикс;метрікс;
Keywords[uz]=XMPP;SMS;chat;jabber;xabarlar;modem;matritsa;
Keywords[zh_CN]=XMPP;SMS;chat;jabber;messaging;modem;matrix;
Keywords=XMPP;SMS;chat;jabber;messaging;modem;matrix;
Terminal=false
Type=Application
Categories=Network;GNOME;GTK;Chat;InstantMessaging;
NoDisplay=true
X-GNOME-AutoRestart=true
