[Desktop Entry]
Name=Twingate Client
Exec=sh -c 'grep -q "1" /etc/twingate/autostart.conf >/dev/null 2>&1 && systemctl --user start twingate-desktop-notifier'
Terminal=false
Type=Application
Categories=Network;
Keywords=file;sharing;collaboration;cloud;storage;
