# /qompassai/dotfiles/.config/oauth2-proxy/oauth2-proxy.conf
# Qompass AI OAuth2-Proxy Config
# Copyright (C) 2025 Qompass AI, All rights reserved
#################################################
# References:  https://github.com/oauth2-proxy/oauth2-proxy
http_address = "127.0.0.1:4180"
https_address = ":443"
 reverse_proxy = true
# tls_cert_file = ""
# tls_key_file = ""
# redirect_url = "$(pass show oauth2/redirurl)"
 upstreams = [
     "http://127.0.0.1:8080/"
 ]
#logging_filename = ""
logging_max_size = 100
logging_max_age = 7
logging_local_time = true
logging_compress = false
standard_logging = true
standard_logging_format = "[{{.Timestamp}}] [{{.File}}] {{.Message}}"
request_logging = true
request_logging_format = "{{.Client}} - {{.Username}} [{{.Timestamp}}] {{.Host}} {{.RequestMethod}} {{.Upstream}} {{.RequestURI}} {{.Protocol}} {{.UserAgent}} {{.StatusCode}} {{.ResponseSize}} {{.RequestDuration}}"
auth_logging = true
auth_logging_format = "{{.Client}} - {{.Username}} [{{.Timestamp}}] [{{.Status}}] {{.Message}}"
pass_basic_auth = true
pass_user_headers = true
pass_host_header = true
 email_domains = [
     "*"
 ]
 client_id = "$(pass show oauth2/ci)"
 client_secret = "$(pass show oauth2/cs)"
 scope = "openid email profile"
pass_access_token = false
authenticated_emails_file = ""
htpasswd_file = ""
skip_auth_routes = [
   "GET=^/probe",
   "^/metrics"
 ]
 api_routes = [
   "^/api"
 ]
# custom_templates_dir = ""
ssl_insecure_skip_verify = false
# cookie_name = "_oauth2_proxy"
# cookie_secret = ""
# cookie_domains = ""
# cookie_expire = "168h"
# cookie_refresh = ""
# cookie_secure = true
# cookie_httponly = true
