[D-BUS Service]
Name=org.freedesktop.fwupd
Documentation=https://fwupd.org/
Exec=/usr/lib/fwupd/fwupd
User=root
AssumedAppArmorLabel=unconfined
SystemdService=fwupd.service
